---
import Layout from "../layouts/Layout.astro"
import Nav2 from "../layouts/Nav-2.astro"
import ImgBG2 from '../layouts/Img-BG2.astro';
import Footer from "../components/Footer.astro";
---

<Layout title="RAW SCENARIOS" language='it'>

    <Nav2/>




    
    <div class="flex max-sm:mt-[calc(100svh-210px)] max-md:mt-[calc(100svh-100px)] max-lg:mt-[calc(100svh-115px)] max-xl:mt-[calc(100svh-140px)]  xl:mt-[calc(100svh-170px)] sm:sticky top-16 max-sm:flex-col justify-between w-full p-2 font-medium leading-none text-2xl md:text-4xl lg:text-5xl xl:text-6xl gap-y-6 sm:gap-y-12 pb-16 lg:pb-32 z-10">
        <div class="">
            <p class="it">22 Giugno 2024</p>
            <p class="it">11h00 &#8212; 19h00</p>
            <p class="en">22 June 2024</p>
            <p class="en">11AM &#8212; 7PM</p>
            <p class="it uppercase">Ingresso Gratuito</p>
            <p class="en uppercase">Free Entry</p>
        </div>

        <div class="flex flex-col sm:text-right">
            <p>Dotdotdot</p>
            <a href="https://g.co/kgs/6SG4Nfu" target="_blank" class="hover:opacity-50 transition-opacity">Via Tertulliano 68, Milano</a>
            <a href="https://www.instagram.com/rawscenarios?igsh=MThjemFlamU4OG1yeg==" target="_blank" class="hover:opacity-50 transition-opacity">@RAWSCENARIOS</a>
        </div>
    </div>

    

<!-- RAW SCENARIOS DESCRIZIONI -->
    <div class=" p-2 pb-16 lg:pb-32 ">

        <div class="grid grid-cols-3 gap-x-2 gap-y-4 lg:gap-y-12">

            <div class="txt max-w-6xl max-lg:mr-[12vw] col-span-3 lg:col-span-2">
                <p class="it">
                    Quest’anno l’evento/mostra di presentazione dei progetti realizzati nel Laboratorio di Sintesi Finale C1 del Corso di Laurea in Design della Comunicazione, Scuola del Design, Politecnico di Milano (a.a. 2023–2024, prof. Francesco E. Guida, Pietro Buffa di Castelalto, Alessandro Masserdotti e Giacomo Scandolara), si tiene il 22 giugno 2024 presso dotdotdot (via Tertulliano 68, Milano, dalle 11 alle 19)
11 progetti di design della comunicazione, 11 macchine comunicative, 11 esperienze interattive. 
Raw Scenarios mette in scena 11 scenari con l’obiettivo di coinvolgerci tutti in una riflessione sui possibili futuri della produzione e del sovraconsumo alimentare. 
                </p>

                <p class="en">
                    This year the event/exhibition presenting the projects created in the Final Synthesis Communication Design Studio C1 of the Degree Course in Communication Design, School of Design, Politecnico di Milano (a.y. 2023–2024, prof. Francesco E. Guida, Pietro Buffa di Castelalto, Alessandro Masserdotti and Giacomo Scandolara), is held on 22 June 2024 at dotdotdot (via Tertulliano 68, Milan, from 11 am to 7 pm).
                    11 communication design projects, 11 communicative machines, 11 interactive experiences.
                    Raw Scenarios proposes 11 scenarios to involve us all in reflecting on the possible futures of food production and overconsumption.
                </p>
            </div>
            <div class="lg:col-span-1"></div>
            <div class="lg:col-span-1"></div>
            <div class="txt max-w-6xl max-lg:mr-[12vw] col-span-3 lg:col-span-2">
                <p class="it">
                    Ciascuno dei progetti in mostra è partito dalla considerazione, oggi apparentemente ovvia, che le nostre abitudini alimentari, quali che siano, hanno spesso e sempre più un impatto sull’ecosistema. Non solo, determinano costi sociali altissimi a tutte le latitudini, e anche sofferenze a esseri umani e non-umani.
Alimenti come tonno, caffè, salmoni, soia, zucchero, pomodoro, avocado, mais, riso, patate, gapberi sono i protagonisti di narrazioni possibili, con l’intenzione di provocare e innescare riflessioni sulle nostre sovrastrutture economiche, sociali e alimentari. 
I progetti sono il risultato di un percorso di sperimentazione didattica che si fonda sul rischio di provare nuove soluzioni e tecniche, verificandole in scala reale. Speculazioni progettuali non per dare risposte e certezze, ma per individuare nuove domande e ragionare sulla nostra epoca e quella che verrà. 
                </p>

                <p class="en">
                    Each of the projects started from the consideration, apparently obvious today, that our eating habits, whatever they may be, often and increasingly impact the ecosystem. They also cause exceedingly high social costs at all latitudes and suffering to human and non-human beings.
Foods such as tuna, coffee, salmon, soy, sugar, tomato, avocado, corn, rice, potatoes, and shrimp are the protagonists of possible narratives, with the intention of provoking and triggering reflections on our economic, social and food superstructures.
The projects are the results of an experimental educational path based on the risk of trying new solutions and techniques and verifying them on a real scale. Design speculations that are not meant to give answers and certainties: they aim to imagine new questions and reflect on contemporary and future times.
                </p>
            </div>

        </div>
    </div>


    <!-- POSTER -->
    <div class="flex txt uppercase p-2 pb-16 lg:pb-32 ">
        <a href="./pdf/RAW SCENARIOS.pdf" download class="hover:opacity-50 transition-opacity it">&#8595 Scaricati il poster</a>
        <a href="./pdf/RAW SCENARIOS.pdf" download class="hover:opacity-50 transition-opacity en">&#8595 Download the poster</a>
    </div>

    <!-- ALTRI PROGETTI -->
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-y-6 sm:gap-y-12 p-2 pb-16 lg:pb-32 txt ">
        <div class="flex flex-col">
            <p class="uppercase it">Altri progetti</p>
            <p class="uppercase en">other projects</p>
            <a href="http://anthropogenicnarratives.labsintesi-c1.info/index.html" target="_blank" class="hover:opacity-50 transition-opacity">Antropogenic Narratives</a>
            <a href="http://fattididati.labsintesi-c1.info/home.html" target="_blank" class="hover:opacity-50 transition-opacity">Fatti_di_dati</a>
            <a href="http://retuals.labsintesi-c1.info/home.html" target="_blank" class="hover:opacity-50 transition-opacity">Retuals</a>
            <a href="http://morte13.labsintesi-c1.info/" target="_blank" class="hover:opacity-50 transition-opacity">Morte. 13 solidi dubbi</a>
            <a href="http://humans.labsintesi-c1.info/" target="_blank" class="hover:opacity-50 transition-opacity">What makes humans human?</a>
            <a href="http://wordsworks.labsintesi-c1.info/" target="_blank" class="hover:opacity-50 transition-opacity">WordsWorks</a>
            <a href="http://whatif.labsintesi-c1.info/" target="_blank" class="hover:opacity-50 transition-opacity">What if</a>
        </div>

        <div class="flex flex-col">
            <p class="uppercase">pdf</p>
            <a href="./pdf/13_SolidiDubbi.pdf" download class="hover:opacity-50 transition-opacity">&#8595 Morte. 13 solidi dubbi</a>
            <a href="./pdf/WHAT-MAKES-HUMANS-HUMAN-LOWRES.pdf" download class="hover:opacity-50 transition-opacity">&#8595 What makes humans human?</a>
            <a href="./pdf/WORDSWORKS-ExhibitionCatalogue-2018.pdf" download class="hover:opacity-50 transition-opacity">&#8595 WordsWorks</a>
            <a href="./pdf/LIBRO-WHATIF-2017.pdf" download class="hover:opacity-50 transition-opacity">&#8595 What if</a>
        </div>


    </div>


    <!-- CREDITI -->
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-y-6 sm:gap-y-12 p-2 pb-16 lg:pb-32 ">
        <div class="max-lg:col-span-2 pr-24">
            <p class="txt it">Progetto realizzato durante il corso di Sintesi Finale C1</p>
            <p class="txt it">A.A. 2023/2024</p>
            <p class="txt it">Corso di Laurea in Design della Comunicazione</p>
            <p class="txt it">Scuola del Design</p>
            <p class="txt it">Politecnico di Milano</p>
            <p class="txt en">Project realized during the C1 Final Synthesis course.</p>
            <p class="txt en">A.Y. 2023/2024</p>
            <p class="txt en">Bachelor of Design in Communication Design</p>
            <p class="txt en">School of Design</p>
            <p class="txt en">Politecnico di Milano</p>
        </div>
        
        <div>
            <p class="txt it">DOCENTI</p>
            <p class="txt en">TEACHERS</p>
            <p class="txt">Francesco E. Guida</p>
            <p class="txt">Pietro Buffa Di Castelalto</p>
            <p class="txt">Alessandro Masserdotti</p>
            <p class="txt">Giacomo Scandolara</p>
        </div>
        <div>
            <p class="txt it">ASSISTENTI</p>
            <p class="txt en">ASSISTANTS</p>
            <p class="txt">Marcello J. Biffi</p>
            <p class="txt">Antonio Garosi</p>
            <p class="txt">Adele Mazzali</p>
            <p class="txt">Claudia Tranti</p>
        </div>
        <div>
            <p class="txt it">ORGANIZZAZIONE</p>
            <p class="txt en">ORGANIZATION</p>
            <p class="txt">Sonia Cattaneo</p>
            <p class="txt">Simona Invitti</p>
        </div>
        <div>
            <p class="txt it">IDENTITÀ</p>
            <p class="txt en">IDENTITY</p>
            <p class="txt">Andrea Capozza</p>
            <p class="txt">Chiara Branca</p>
            <p class="txt">Matilde Davoli</p>
            <p class="txt">Federico Porro</p>
        </div>
        <div>
            <p class="txt it">CONTENUTI</p>
            <p class="txt en">CONTENTS</p>
            <p class="txt">Asia Capezzuoli </p>
            <p class="txt">Elisa Corbetta</p>
            <p class="txt">Marialisa Giavitto</p>
        </div>
        <div>
            <p class="txt it">ALLESTIMENTO</p>
            <p class="txt en">SITE DESIGN</p>
            <p class="txt">Caterina Cantoni</p>
            <p class="txt">Eleonora Versitano</p>
        </div>
        <div>
            <p class="txt it">FOTO & VIDEO</p>
            <p class="txt en">PHOTO & VIDEO.</p>
            <p class="txt">Sara Chini</p>
            <p class="txt">Luna Macelloni</p>
            <p class="txt">Giada Vercesi</p>
            <p class="txt">Alexandra Zotica</p>
        </div>
        <div>
            <p class="txt ">WEB & SOCIAL</p>
            <p class="txt">Sara Balestrini</p>
            <p class="txt">Dylan Gasparotto</p>
            <p class="txt">Caterina di Noia</p>
            <p class="txt">Matteo Postinghel</p>
        </div>
    </div>


    <!-- LOGO -->
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-12 p-2 pb-16 lg:pb-32 ">
        <a href="https://www.design.polimi.it/it" target="_blank" class="hover:opacity-50 transition-opacity my-12 mr-12 max-w-48 flex items-center ">
            <img class="" src="/logo/politecnico-di-milano-scuola-del-design.svg" alt="politecnico di milano"></img>
        </a>
        <a href="https://www.designdellacomunicazione.polimi.it/en/ddc-eng/" target="_blank" class="hover:opacity-50 transition-opacity my-12 mr-12 max-w-48 flex items-center ">
            <img class="" src="/logo/ddc.svg" alt="ddc"></img>
        </a>
        <a href="https://www.dotdotdot.it/" target="_blank" class="hover:opacity-50 transition-opacity my-12 mr-12 max-w-48 flex items-center ">
            <img class="fill-rosso" src="/logo/dotdotdot.svg" alt="dotdotdot"></img>
        </a>
        <a href="https://aiap.it/" target="_blank" class="hover:opacity-50 transition-opacity my-8 mr-8 max-w-72 flex items-center ">
            <img class="" src="/logo/aiap.svg" alt="aiap"></img>
        </a>
    </div>




    <Footer/>
    
    <ImgBG2/>

</Layout>

