---
import Layout from "../layouts/Layout.astro"
import Nav1 from "../layouts/Nav-1.astro"
import ProjectTitle from "../components/Project-Title.astro"
import ImgLeft from "../components/ImgLeft.astro"
import ImgRight from "../components/ImgRight.astro"
import ImgFull from "../components/ImgFull.astro"
import ProjectText from "../components/Project-Text.astro"
import Footer from "../components/Footer.astro";
import VideoLeft from "../components/VideoLeft.astro"
import VideoRight from "../components/VideoRight.astro"
---

<Layout title="RAW SCENARIOS" language='it'>



    <Nav1
        prev="/Tuna"
        next="/Tomato"
    />


    

    <ProjectTitle
        img="/img/avocado/avocartel.svg"
    />
    <ProjectText
        it="L’avocado è ad oggi uno dei frutti più di successo al mondo. Con questa esplosione di vendite, la criminalità organizzata non può di certo lasciarsi sfuggire di mano un business così redditizio. Nel 2028 l’intero commercio di avocado e la rispettiva catena produttiva sono sotto il controllo di bande criminali. Noi consumatori continuiamo ad acquistare questi frutti così prelibati, a un prezzo paradossalmente elevato, senza tener conto che il vero costo è quello che si cela dietro continue minacce, torture e violenze subite, a spese della manodopera messicana. "
        en="Donec ac magna non nibh lacinia aliquam. Morbi sit amet tristique libero, ac mollis mi. Nullam erat lacus, pharetra eu fringilla in, consequat nec quam. Etiam ut lacus vel orci posuere vestibulum sit amet varius leo. Sed luctus ornare semper. Cras non ex quis nibh eleifend porta sit amet eget magna. Ut pharetra eleifend turpis, in tincidunt lectus placerat vitae. Mauris hendrerit nunc ex, eget pulvinar arcu consequat a. Etiam at dictum nisi, in luctus purus. Quisque tempus dolor sed neque varius fermentum. Nunc ac dolor nisi. Nulla in eros feugiat, tincidunt lacus ac, finibus elit. Proin dictum ante odio, id volutpat metus congue vel. Nullam quis diam vitae justo luctus interdum at eu tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus."
    >
    <p class="it">Avocado</p>
    <p class="en">Avocado</p>
    </ProjectText>

    <ImgRight
        src="/img/avocado/avocado-scenario-1.webp"
    />
    <ImgLeft
        src="/img/avocado/avocado-scenario-2.webp"
    />
    <ProjectText
    it="I Paesi membri delle Nazioni Unite sono costretti a emanare una nuova legge: per ogni frutto, oltre al prezzo, sarà obbligatorio esporre anche il costo sociale generato dal relativo consumo. Avocartel è uno dei cartelli messicani più rilevanti, avendo ottenuto, in modo non del tutto pulito, il monopolio del commercio occidentale. Il suo successo è dato da come ha saputo volgere a suo favore la nuova legge. Facendo leva sull’individualismo e l’indifferenza, celati in ognuno di noi, si pone come leader nel mercato disposto a tutto pur di offrire ai propri clienti il miglior avocado di sempre a livello di qualità, freschezza e convenienza."
    en="Donec ac magna non nibh lacinia aliquam. Morbi sit amet tristique libero, ac mollis mi. Nullam erat lacus, pharetra eu fringilla in, consequat nec quam. Etiam ut lacus vel orci posuere vestibulum sit amet varius leo. Sed luctus ornare semper. Cras non ex quis nibh eleifend porta sit amet eget magna. Ut pharetra eleifend turpis, in tincidunt lectus placerat vitae. Mauris hendrerit nunc ex, eget pulvinar arcu consequat a. Etiam at dictum nisi, in luctus purus. Quisque tempus dolor sed neque varius fermentum. Nunc ac dolor nisi. Nulla in eros feugiat, tincidunt lacus ac, finibus elit. Proin dictum ante odio, id volutpat metus congue vel. Nullam quis diam vitae justo luctus interdum at eu tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus."
    />
    <ImgRight
        src="/img/avocado/avocado-identita-1.webp"
    />
    <ImgLeft
        src="/img/avocado/avocado-identita-2.webp"
    />
    <ImgRight
        src="/img/avocado/avocado-identita-3.webp"
    />
    <ImgFull
        src="/img/avocado/avocado-identita-4.webp"
    />

    <ProjectText
    it="Proprio a seguito di questa scelta di marketing Avocartel introduce Libre. Disponibile in tutti i suoi punti vendita, Libre è una bilancia alimentare che, oltre a misurare il peso in grammi dei frutti, associa a questi la relativa quantità di crimini commessi, rispettivamente sfruttamento, assalti, rapimenti e omicidi. Ce n’è per tutti i gusti; è il cliente che decide quanto è disposto (o non disposto) a spendere pur di rimanere fedele ai propri, non così irrevocabili, valori."
    en="Donec ac magna non nibh lacinia aliquam. Morbi sit amet tristique libero, ac mollis mi. Nullam erat lacus, pharetra eu fringilla in, consequat nec quam. Etiam ut lacus vel orci posuere vestibulum sit amet varius leo. Sed luctus ornare semper. Cras non ex quis nibh eleifend porta sit amet eget magna. Ut pharetra eleifend turpis, in tincidunt lectus placerat vitae. Mauris hendrerit nunc ex, eget pulvinar arcu consequat a. Etiam at dictum nisi, in luctus purus. Quisque tempus dolor sed neque varius fermentum. Nunc ac dolor nisi. Nulla in eros feugiat, tincidunt lacus ac, finibus elit. Proin dictum ante odio, id volutpat metus congue vel. Nullam quis diam vitae justo luctus interdum at eu tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus."
    />
    <ImgRight
        src="/img/avocado/avocado-macchina-1.webp"
    />
    <ImgLeft
        src="/img/avocado/avocado-macchina-2.webp"
    />
    <ImgFull
        src="/img/avocado/avocado-macchina-3.webp"
    />
    
    <VideoLeft
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />
    <VideoRight
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />



    <div class="grid grid-cols-1 sm:grid-cols-12 gap-2 px-2 pb-2 w-full mb-16 sm:mb-32 lg:mb-48 txt-2" data-aos="fade" data-aos-duration="200" data-aos-easing="ease-in-out">
        <div class="max-sm:hidden sm:col-span-3"></div>
        <div class="sm:col-span-9 leading-none">
            <p class="it uppercase">gruppo</p>
            <p class="en uppercase">group</p>
            <p>Arianna Albertini</p>
            <p>Elisa Bruschi</p>
            <p>Sonia Cattaneo</p>
            <p>Sara Chini</p>
            <p>Letizia Luraghi</p>
            <p>Rachele Tarateo</p>
        </div>

    
    </div>
    
    <Footer/>
</Layout>
