---
import Layout from "../layouts/Layout.astro"
import Nav1 from "../layouts/Nav-1.astro"
import ProjectTitle from "../components/Project-Title.astro"
import ImgLeft from "../components/ImgLeft.astro"
import ImgRight from "../components/ImgRight.astro"
import ImgFull from "../components/ImgFull.astro"
import ProjectText from "../components/Project-Text.astro"
import Footer from "../components/Footer.astro";
import VideoLeft from "../components/VideoLeft.astro"
import VideoRight from "../components/VideoRight.astro"
---

<Layout title="RAW SCENARIOS" language='it'>



    <Nav1
        prev="/Salmon"
        next="/Soy"
    />


    

    <ProjectTitle
        img="/img/coffee/ici.svg"
    />
    <ProjectText
        it="Ormai il caffè fa parte della nostra routine, pochi sarebbero in grado di rinunciarvi. Eppure questa pianta è altamente suscettibile. Il fungo Hemileia Vastatrix ha già causato nel 2012 ingenti danni, determinando la distruzione di oltre la metà delle piantagioni. Abbiamo già avuto prova di quanto sia difficile contenere questo tipo di epidemia, soprattutto quando si parla di monocolture così delicate. Ciò che oggi diamo per scontato potrebbe in un futuro non troppo lontano diventare un bene di lusso. "
        en="Today, coffee is an integral part of the daily routine of many of the world’s population and only a few people would be able to give it up. Yet this plant is highly vulnerable. The fungus Hemileia Vastatrix already caused significant damage in 2012, destroying over half of the plantations. Such pandemics are extremely difficult to control, especially when it comes to such delicate monocultures."
    >
    <p class="it">caffe</p>
    <p class="en">coffee</p>
    </ProjectText>

    <ImgRight
        src="/img/coffee/caffe-scenario-1.webp"
    />
    <ImgLeft
        src="/img/coffee/caffe-scenario-2.webp"
    />
    <ProjectText
    it="A seguito di una futura epidemia dagli impatti ancora più devastanti, il caffè è diventato una materia prima rarissima. Per questo motivo nasce l’International Coffeological Institute (ICI), un ente di ricerca e certificazione fondato nel 2053 a partire da un gruppo di visionari il cui obiettivo è quello di far rinascere l’amore per il mondo del caffè, andando a ridefinire i parametri che determinano il valore di ciascuna, adesso rara, gemma. "
    en="Following a future epidemic with even more devastating impacts, coffee became an extremely rare commodity. From this unfortunate scenario, the International Coffeological Institute (ICI) was founded in 2053 by a group of visionaries aiming to rekindle the love for the world of coffee by redefining the parameters that determine the value of each, now-rare, gem."
    />
    <ImgRight
        src="/img/coffee/caffe-identita-1.webp"
    />
    <ImgLeft
        src="/img/coffee/caffe-identita-2.webp"
    />
    <ImgRight
        src="/img/coffee/caffe-identita-3.webp"
    />
    <ImgLeft
        src="/img/coffee/caffe-identita-4.webp"
    />
    <ImgFull
        src="/img/coffee/caffe-identita-5.webp"
    />

    <ProjectText
    it="Nel 2083 ICI dà vita ad Aestimo, una macchina comunicativa la cui forma ricalca quella dell’abaco. Aestimo svolge un ruolo cruciale nel guidare gli utenti attraverso il complesso mercato delle gemme di caffè. Nell’interazione con questa macchina l’utente acquisisce consapevolezza sull’andamento del prezzo, determinato da una formula messa a punto da ICI. "
    en="In 2083, ICI created Aestimo, a device shaped like an abacus. Aestimo plays a crucial role in guiding users through the complex market of coffee gems. Through interaction with this machine, the user gains awareness of price trends, determined by a formula developed by ICI."
    />
    <ImgRight
        src="/img/coffee/caffe-macchina-1.webp"
    />
    <ImgLeft
        src="/img/coffee/caffe-macchina-2.webp"
    />
    <ImgFull
        src="/img/coffee/caffe-macchina-3.webp"
    />
    
    <VideoLeft
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />
    <VideoRight
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />



    <div class="grid grid-cols-1 sm:grid-cols-12 gap-2 px-2 pb-2 w-full mb-16 sm:mb-32 lg:mb-48 txt-2" data-aos="fade" data-aos-duration="200" data-aos-easing="ease-in-out">
        <div class="max-sm:hidden sm:col-span-3"></div>
        <div class="sm:col-span-9 leading-none">
            <p class="it uppercase">gruppo</p>
            <p class="en uppercase">group</p>
            <p>Maddalena Bergomi</p>
            <p>Elisa Cappelletto</p>
            <p>Afonso Casaca</p>
            <p>Sieun Kweon</p>
            <p>Alice Muratore</p>
            <p>Gabriele Piacenza</p>
        </div>

    </div>
    
    <Footer/>
</Layout>
