---
import Layout from "../layouts/Layout.astro"
import Nav1 from "../layouts/Nav-1.astro"
import ProjectTitle from "../components/Project-Title.astro"
import ImgLeft from "../components/ImgLeft.astro"
import ImgRight from "../components/ImgRight.astro"
import ImgFull from "../components/ImgFull.astro"
import ProjectText from "../components/Project-Text.astro"
import Footer from "../components/Footer.astro";
import VideoLeft from "../components/VideoLeft.astro"
import VideoRight from "../components/VideoRight.astro"
---

<Layout title="RAW SCENARIOS" language='it'>



    <Nav1
        prev="/Tomato"
        next="/Rice"
    />


    

    <ProjectTitle
        img="/img/corn/343ms.svg"
    />
    <ProjectText
        it="L’essere umano ha negli anni trasformato il mais da simbolo della biodiversità a emblema dell’agricoltura industriale, causando la perdita della maggior parte del suo patrimonio genetico. Il colore giallo che oggi caratterizza il mais ne è la prova inconfutabile. Infatti, nonostante siano presenti oltre 100.000 varietà di mais colorato, il 71% del mais coltivato su scala globale si basa esclusivamente su 6 varietà dal chicco giallo."
        en="Over the years, humans have transformed corn from a symbol of biodiversity into an emblem of industrial agriculture, causing the loss of most of its genetic heritage. The yellow colour that characterises corn today is irrefutable proof of this. Indeed, although over 100,000 varieties of coloured corn exist, 71% of the corn cultivated globally is based on just six yellow-grain varieties."
    >
    <p class="it">mais</p>
    <p class="en">corn</p>
    </ProjectText>

    <ImgRight
        src="/img/corn/mais-scenario-1.webp"
    />
    <ImgLeft
        src="/img/corn/mais-scenario-2.webp"
    />
    <ImgFull
        src="/img/corn/mais-scenario-3.webp"
    />
    <ProjectText
    it="In questo contesto nasce 343MS, un’innovation company che studia e sperimenta differenti modalità per ricavare suoni a partire dalle caratteristiche formali delle piante. I suoi prodotti rompono gli schemi della creazione tradizionale di musica dando una nuova funzione ai vegetali."
    en="343MS is an innovation company that studies and experiments with different ways to derive sounds from the formal characteristics of plants. Its products break the mould of traditional music creation, giving a new function to plants."
    />
    <ImgRight
        src="/img/corn/mais-identita-1.webp"
    />
    <ImgLeft
        src="/img/corn/mais-identita-2.webp"
    />
    <ImgFull
        src="/img/corn/mais-identita-3.webp"
    />

    <ProjectText
    it="L’azienda lancia ZEA, da Zea Mays il nome scientifico della pianta, un dispositivo che traduce le informazioni cromatiche e strutturali delle pannocchie in suoni, creando delle tracce di musica ambient. L’obiettivo di ZEA è quello di stimolare una riflessione concreta sulla perdita della biodiversità. Gli utenti sono incoraggiati a cercare diverse varietà di pannocchie, ognuna caratterizzata da una morfologia unica. La complessità delle tracce ottenute è direttamente proporzionale alle caratteristiche cromatiche e strutturali specifiche di ciascuna pannocchia: una pannocchia gialla produrrà una traccia monotona, mentre una più variegata contribuirà a creare un suono più ricco e articolato."
    en="The company launches ZEA, named after Zea Mays, the scientific name of the plant, a device that translates the chromatic and structural information of corn cobs into sounds, creating ambient music tracks. ZEA aims to stimulate concrete reflection on the loss of biodiversity. Users are encouraged to seek out different varieties of corn cobs, each characterised by unique morphology. The complexity of the tracks obtained is directly proportional to the specific chromatic and structural characteristics of each cob: a yellow cob will produce a monotonous track, while a more varied one will help create a richer and more intricate sound."
    />
    <ImgRight
        src="/img/corn/mais-macchina-1.webp"
    />
    <ImgLeft
        src="/img/corn/mais-macchina-2.webp"
    />
    <ImgRight
        src="/img/corn/mais-macchina-3.webp"
    />
    <ImgFull
        src="/img/corn/mais-macchina-4.webp"
    />
    
    <VideoLeft
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />
    <VideoRight
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />



    <div class="grid grid-cols-1 sm:grid-cols-12 gap-2 px-2 pb-2 w-full mb-16 sm:mb-32 lg:mb-48 txt-2" data-aos="fade" data-aos-duration="200" data-aos-easing="ease-in-out">
        <div class="max-sm:hidden sm:col-span-3"></div>
        <div class="sm:col-span-9 leading-none">
            <p class="it uppercase">gruppo</p>
            <p class="en uppercase">group</p>
            <p>Chiara Branca</p>
            <p>Benedetta Crociani</p>
            <p>Matilde Davoli</p>
            <p>Simona Invitti</p>
            <p>Elisa Paganoni</p>
            <p>Eleonora Versitano</p>
        </div>

    </div>
    






    <Footer/>
</Layout>
