---
import Layout from "../layouts/Layout.astro"
import Nav1 from "../layouts/Nav-1.astro"
import ProjectTitle from "../components/Project-Title.astro"
import ImgLeft from "../components/ImgLeft.astro"
import ImgRight from "../components/ImgRight.astro"
import ImgFull from "../components/ImgFull.astro"
import ProjectText from "../components/Project-Text.astro"
import Footer from "../components/Footer.astro";
import VideoLeft from "../components/VideoLeft.astro"
import VideoRight from "../components/VideoRight.astro"
---

<Layout title="RAW SCENARIOS" language='it'>



    <Nav1
        prev="/Tomato"
        next="/Rice"
    />


    

    <ProjectTitle
        img="/img/corn/343ms.svg"
    />
    <ProjectText
        it="L’essere umano ha negli anni trasformato il mais da simbolo della biodiversità a emblema dell’agricoltura industriale, causando la perdita della maggior parte del suo patrimonio genetico. Il colore giallo che oggi caratterizza il mais ne è la prova inconfutabile. Infatti, nonostante siano presenti oltre 100.000 varietà di mais colorato, il 71% del mais coltivato su scala globale si basa esclusivamente su 6 varietà dal chicco giallo."
        en="Donec ac magna non nibh lacinia aliquam. Morbi sit amet tristique libero, ac mollis mi. Nullam erat lacus, pharetra eu fringilla in, consequat nec quam. Etiam ut lacus vel orci posuere vestibulum sit amet varius leo. Sed luctus ornare semper. Cras non ex quis nibh eleifend porta sit amet eget magna. Ut pharetra eleifend turpis, in tincidunt lectus placerat vitae. Mauris hendrerit nunc ex, eget pulvinar arcu consequat a. Etiam at dictum nisi, in luctus purus. Quisque tempus dolor sed neque varius fermentum. Nunc ac dolor nisi. Nulla in eros feugiat, tincidunt lacus ac, finibus elit. Proin dictum ante odio, id volutpat metus congue vel. Nullam quis diam vitae justo luctus interdum at eu tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus."
    >
    <p class="it">mais</p>
    <p class="en">corn</p>
    </ProjectText>

    <ImgRight
        src="/img/corn/mais-scenario-1.webp"
    />
    <ImgLeft
        src="/img/corn/mais-scenario-2.webp"
    />
    <ImgFull
        src="/img/corn/mais-scenario-3.webp"
    />
    <ProjectText
    it="In questo contesto nasce 343MS, un’innovation company che studia e sperimenta differenti modalità per ricavare suoni a partire dalle caratteristiche formali delle piante. I suoi prodotti rompono gli schemi della creazione tradizionale di musica dando una nuova funzione ai vegetali."
    en="Donec ac magna non nibh lacinia aliquam. Morbi sit amet tristique libero, ac mollis mi. Nullam erat lacus, pharetra eu fringilla in, consequat nec quam. Etiam ut lacus vel orci posuere vestibulum sit amet varius leo. Sed luctus ornare semper. Cras non ex quis nibh eleifend porta sit amet eget magna. Ut pharetra eleifend turpis, in tincidunt lectus placerat vitae. Mauris hendrerit nunc ex, eget pulvinar arcu consequat a. Etiam at dictum nisi, in luctus purus. Quisque tempus dolor sed neque varius fermentum. Nunc ac dolor nisi. Nulla in eros feugiat, tincidunt lacus ac, finibus elit. Proin dictum ante odio, id volutpat metus congue vel. Nullam quis diam vitae justo luctus interdum at eu tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus."
    />
    <ImgRight
        src="/img/corn/mais-identita-1.webp"
    />
    <ImgLeft
        src="/img/corn/mais-identita-2.webp"
    />
    <ImgFull
        src="/img/corn/mais-identita-3.webp"
    />

    <ProjectText
    it="L’azienda lancia ZEA, da Zea Mays il nome scientifico della pianta, un dispositivo che traduce le informazioni cromatiche e strutturali delle pannocchie in suoni, creando delle tracce di musica ambient. L'obiettivo di ZEA è quello di stimolare una riflessione concreta sulla perdita della biodiversità. Gli utenti sono incoraggiati a cercare diverse varietà di pannocchie, ognuna caratterizzata da una morfologia unica. La complessità delle tracce ottenute è direttamente proporzionale alle caratteristiche cromatiche e strutturali specifiche di ciascuna pannocchia: una pannocchia gialla produrrà una traccia monotona, mentre una più variegata contribuirà a creare un suono più ricco e articolato. "
    en="Donec ac magna non nibh lacinia aliquam. Morbi sit amet tristique libero, ac mollis mi. Nullam erat lacus, pharetra eu fringilla in, consequat nec quam. Etiam ut lacus vel orci posuere vestibulum sit amet varius leo. Sed luctus ornare semper. Cras non ex quis nibh eleifend porta sit amet eget magna. Ut pharetra eleifend turpis, in tincidunt lectus placerat vitae. Mauris hendrerit nunc ex, eget pulvinar arcu consequat a. Etiam at dictum nisi, in luctus purus. Quisque tempus dolor sed neque varius fermentum. Nunc ac dolor nisi. Nulla in eros feugiat, tincidunt lacus ac, finibus elit. Proin dictum ante odio, id volutpat metus congue vel. Nullam quis diam vitae justo luctus interdum at eu tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus."
    />
    <ImgRight
        src="/img/corn/mais-macchina-1.webp"
    />
    <ImgLeft
        src="/img/corn/mais-macchina-2.webp"
    />
    <ImgRight
        src="/img/corn/mais-macchina-3.webp"
    />
    <ImgFull
        src="/img/corn/mais-macchina-4.webp"
    />
    
    <VideoLeft
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />
    <VideoRight
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />



    <div class="grid grid-cols-1 sm:grid-cols-12 gap-2 px-2 pb-2 w-full mb-16 sm:mb-32 lg:mb-48 txt-2" data-aos="fade" data-aos-duration="200" data-aos-easing="ease-in-out">
        <div class="max-sm:hidden sm:col-span-3"></div>
        <div class="sm:col-span-9 leading-none">
            <p class="it uppercase">gruppo</p>
            <p class="en uppercase">group</p>
            <p>Chiara Branca</p>
            <p>Benedetta Crociani</p>
            <p>Matilde Davoli</p>
            <p>Simona Invitti</p>
            <p>Elisa Paganoni</p>
            <p>Eleonora Versitano</p>
        </div>

    </div>
    






    <Footer/>
</Layout>
