---
import Layout from '../layouts/Layout.astro';
import ImgLeft from '../components/imgLeft.astro';
import ImgRight from '../components/imgRight.astro';
import ImgFull from '../components/imgFull.astro';
import ProjectDescrizione from '../components/projectDescrizione.astro';
---

<Layout title="Welcome to Astro." language=''>
    <img src="./public/logo-2.svg" alt="" class="px-2 pt-1">
    <a href="/soy" class="text-6xl text-rosso mt-6">Soy</a>
    <h1 class="text-6xl text-rosso fixed">Raw Scenarios</h1>
</Layout>

