---
import Layout from '../layouts/Layout.astro';
import ITEN from '../components/ITEN.astro';
import ImgBG from '../layouts/Img-BG.astro';
---

<Layout title="RAW SCENARIOS" language='it'>
  <ImgBG />
  
  <div class="flex flex-col sm:h-screen sm:fixed w-full">
    
    <!-- Logo -->
    <img src="/logo-2.svg" alt="Logo" class="px-2 pt-1 max-sm:fixed" data-aos="fade" data-aos-duration="300" data-aos-delay="100" data-aos-easing="ease-in-out">
    
    <!-- PROGETTI-->
    <div class="sm:flex-grow grid grid-rows-11 max-sm:gap-y-24 p-2 mt-48 sm:mt-12 mb-16 uppercase font-semibold text-3xl" data-aos="fade" data-aos-duration="400" data-aos-delay="200" data-aos-easing="ease-in-out">
      <div class="w-full flex items-center justify-center sm:justify-end"  >
        <div class="hover:opacity-50 transition-opacity inline-block sm:mr-[14vw]">
          <a href="/Salmon" class="it">Salmone</a>
          <a href="/Salmon" class="en">Salmon</a>
        </div>
      </div>
      <div class="w-full flex items-center justify-center sm:justify-start">
        <div class="hover:opacity-50 transition-opacity inline-block sm:ml-[23vw]">
            <a href="/Coffee" class="it">Caffè</a>
            <a href="/Coffee" class="en">Coffee</a>
        </div>
      </div>
      <div class="w-full flex items-center justify-center sm:justify-start">
        <div class="hover:opacity-50 transition-opacity inline-block sm:ml-[46vw]">
            <a href="/Soy" class="it">Soia</a>
            <a href="/Soy" class="en">Soy</a>
        </div>
      </div>
      <div class="w-full flex items-center justify-center sm:justify-end">
        <div class="hover:opacity-50 transition-opacity inline-block sm:mr-[21vw]">
            <a href="/Sugar" class="it">Zucchero</a>
            <a href="/Sugar" class="en">Sugar</a>
        </div>
      </div>
      <div class="w-full flex items-center justify-center sm:justify-start">
        <div class="hover:opacity-50 transition-opacity inline-block sm:ml-[4vw]">
            <a href="/Tuna" class="it">Tonno</a>
            <a href="/Tuna" class="en">Tuna</a>
        </div>
      </div>
      <div class="w-full flex items-center justify-center sm:justify-end">
        <div class="hover:opacity-50 transition-opacity inline-block sm:mr-[36vw]">
            <a href="/Avocado">Avocado</a>
        </div>
      </div>
      <div class="w-full flex items-center justify-center sm:justify-start">
        <div class="hover:opacity-50 transition-opacity inline-block sm:ml-[29vw]">
            <a href="/Tomato" class="it">Pomodoro</a>
            <a href="/Tomato" class="en">Tomato</a>
        </div>
      </div>
      <div class="w-full flex items-center justify-center sm:justify-end">
        <div class="hover:opacity-50 transition-opacity inline-block sm:mr-[4vw]">
            <a href="/Corn" class="it">Mais</a>
            <a href="/Corn" class="en">Corn</a>
        </div>
      </div>
      <div class="w-full flex items-center justify-center sm:justify-start">
        <div class="hover:opacity-50 transition-opacity inline-block sm:ml-[16vw]">
            <a href="/Rice" class="it">Riso</a>
            <a href="/Rice" class="en">Rice</a>
        </div>
      </div>
      <div class="w-full flex items-center justify-center sm:justify-start">
        <div class="hover:opacity-50 transition-opacity inline-block sm:ml-[40vw]">
            <a href="/Potato" class="it">Patate</a>
            <a href="/Potato" class="en">Potato</a>
        </div>
      </div>
      <div class="w-full flex items-center justify-center sm:justify-end">
        <div class="hover:opacity-50 transition-opacity inline-block m:mr-[25vw]">
            <a href="/Shrimp" class="it">Gamberi</a>
            <a href="/Shrimp" class="en">Shrimp</a>
        </div>
      </div>
    </div>

    <!-- Cookie -->
    <div class="fixed max-sm:hidden bottom-0 p-2 max-w-[55%] sm:max-w-md mb-24 lg:mb-28 " data-aos="fade-up" data-aos-duration="500" data-aos-delay="1000" data-aos-easing="ease-in-out">
      <div id="cookie-notice" class="flex cookie text-lg font-bold leading-snug relative" >
        <p class="cookie-close cursor-pointer absolute top-0 left-0 flex items-center hover:opacity-50 transition-opacity">[<span class="rotate-45 scale-110">+</span>]</p>
        <div class="flex flex-col justify-between items-start mt-6">
          <div>
            <p class="it leading-snug">Continuando a navigare su questo sito, accetti automaticamente i cookie.</p>
            <p class="en leading-snug">By continuing to browse this site, you automatically accept cookies.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="max-sm:hidden fixed bottom-0 p-2 grid grid-cols-4 sm:grid-cols-12 gap-4 sm:gap-2 text-xl lg:text-3xl font-bold w-full">
      <div class="flex flex-col col-span-3">
        <p>Dotdotdot</p>
        <a href="https://g.co/kgs/6SG4Nfu" target="_blank" class="hover:opacity-50 transition-opacity">Via Tertulliano 68, Milano</a>
      </div>
      <div class="flex flex-col col-span-3">
        <p class="it">22 Giugno 2024</p>
        <p class="it">11h00 &#8212; 19h00</p>
        <p class="en">22 June 2024</p>
        <p class="en">11AM &#8212; 7PM</p>
      </div>
      <div class="flex flex-col col-span-3">
        <p class="it uppercase">Ingresso Gratuito</p>
        <p class="en uppercase">Free Entry</p>
        <a href="https://www.instagram.com/rawscenarios?igsh=MThjemFlamU4OG1yeg==" target="_blank" class="hover:opacity-50 transition-opacity">@RAWSCENARIOS</a>
      </div>
      <div class="sm:ml-auto col-span-4 sm:col-span-3 max-sm:flex max-sm:flex-cols max-sm:justify-between">
        <a href="/about" class="hover:opacity-50 transition-opacity">About</a>
        <ITEN />
      </div>
    </div>
    
    <!-- COOKIE -->
    <div class="sm:hidden flex flex-col p-2 font-bold w-full leading-none max-w-[55%] mb-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1000" data-aos-easing="ease-in-out">
      <div id="cookie-notice-2" class="flex cookie-2 font-bold text-base leading-tight relative" >
        <p class="cookie-close-2 cursor-pointer absolute top-0 left-0 flex items-center hover:opacity-50 transition-opacity">[<span class="rotate-45 scale-110">+</span>]</p>
        <div class="flex flex-col justify-between items-start mt-6">
          <div>
            <p class="it leading-tight">Continuando a navigare su questo sito, accetti automaticamente i cookie.</p>
            <p class="en leading-tight">By continuing to browse this site, you automatically accept cookies.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER MOBILE-->
    <div class="sm:hidden flex flex-col p-2 font-bold w-full leading-none">
      <div class="flex justify-between text-lg">
        <div class="flex flex-col ">
          <p class="it -mb-2">22 Giugno 2024</p>
          <p class="it -mb-2">11h00 &#8212; 19h00</p>
          <p class="en -mb-2 ">22 June 2024</p>
          <p class="en -mb-2 ">11AM &#8212; 7PM</p>
          <p class="it uppercase">Ingresso Gratuito</p>
          <p class="en uppercase">Free Entry</p>
        </div>
        <div class="flex flex-col text-right text-lg">
          <p class="-mb-2">Dotdotdot</p>
          <a href="https://g.co/kgs/6SG4Nfu" target="_blank" class="hover:opacity-50 transition-opacity -mb-2">Via Tertulliano 68, Milano</a>
          <a href="https://www.instagram.com/rawscenarios?igsh=MThjemFlamU4OG1yeg==" target="_blank" class="hover:opacity-50 transition-opacity -mb-2">@RAWSCENARIOS</a>
        </div>
      </div>
      
      <div class="mt-4 flex justify-between text-lg">
        <a href="/about" class="hover:opacity-50 transition-opacity">About</a>
        <div class=" flex text-lg sm:text-xl lg:text-3xl uppercase">
          <h1 class="cursor-pointer" id="it-button-2">IT</h1>
          <h1>/</h1>
          <h1 class="cursor-pointer" id="en-button-2">EN</h1>
      </div>
      </div>
    </div>
  </div>
</Layout>


<script is:inline>
  document.addEventListener("DOMContentLoaded", function() {
      const itButton = document.getElementById("it-button-2");
      const enButton = document.getElementById("en-button-2");
  
      itButton.addEventListener("click", function() {
        toggleLanguage('it', 'en');
      });
  
      enButton.addEventListener("click", function() {
        toggleLanguage('en', 'it');
      });
  
      function toggleLanguage(showClass, hideClass) {
        const showElements = document.querySelectorAll(`.${showClass}`);
        const hideElements = document.querySelectorAll(`.${hideClass}`);
        
        showElements.forEach(element => {
            element.style.display = 'block';
        });

        hideElements.forEach(element => {
            element.style.display = 'none';
        });

        if (showClass === 'it') {
            itButton.style.opacity = '1';
            enButton.style.opacity = '0.5';
        } else {
            itButton.style.opacity = '0.5';
            enButton.style.opacity = '1';
        }
      }
  
      toggleLanguage('it', 'en');
  });


  document.querySelector('.cookie-close').addEventListener('click', function() {
    document.querySelector('.cookie').classList.add('hidden');
  });

  </script>
  

