---
import Layout from "../layouts/Layout.astro"
import Nav1 from "../layouts/Nav-1.astro"
import ProjectTitle from "../components/Project-Title.astro"
import ImgLeft from "../components/ImgLeft.astro"
import ImgRight from "../components/ImgRight.astro"
import ImgFull from "../components/ImgFull.astro"
import ProjectText from "../components/Project-Text.astro"
import Footer from "../components/Footer.astro";
import VideoLeft from "../components/VideoLeft.astro"
import VideoRight from "../components/VideoRight.astro"
---

<Layout title="RAW SCENARIOS" language='it'>



    <Nav1
        prev="/Rice"
        next="/Shrimp"
    />


    

    <ProjectTitle
        img="/img/potato/heep.svg"
    />
    <ProjectText
        it="Le patate sono uno tra i quattro alimenti più importanti a livello mondiale e da sempre vengono impiegate per far fronte alle carestie. Oggi, grazie alla loro versatilità e facilità di coltivazione, sono prodotte in quantità smodata, tanto che, non essendo possibile consumarle tutte, gli sprechi sono all’ordine del giorno. Al contempo, l’imminente esaurimento dei combustili fossili, ci obbliga a cercare nuove soluzioni."
        en="Donec ac magna non nibh lacinia aliquam. Morbi sit amet tristique libero, ac mollis mi. Nullam erat lacus, pharetra eu fringilla in, consequat nec quam. Etiam ut lacus vel orci posuere vestibulum sit amet varius leo. Sed luctus ornare semper. Cras non ex quis nibh eleifend porta sit amet eget magna. Ut pharetra eleifend turpis, in tincidunt lectus placerat vitae. Mauris hendrerit nunc ex, eget pulvinar arcu consequat a. Etiam at dictum nisi, in luctus purus. Quisque tempus dolor sed neque varius fermentum. Nunc ac dolor nisi. Nulla in eros feugiat, tincidunt lacus ac, finibus elit. Proin dictum ante odio, id volutpat metus congue vel. Nullam quis diam vitae justo luctus interdum at eu tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus."
    >
    <p class="it">patate</p>
    <p class="en">potato</p>
    </ProjectText>

    <ImgRight
        src="/img/potato/patate-scenario-1.webp"
    />
    <ImgLeft
        src="/img/potato/patate-scenario-2.webp"
    />
    <ProjectText
    it="Per questo nasce HEEP – Holding per l’Energia Elettrica da Patate – un’azienda impegnata nel settore energetico che si pone l’obiettivo di trasformare la sovrapproduzione e lo spreco alimentare in un’alternativa concreta verso la transizione energetica. L'obiettivo: responsabilizzare ogni utente riguardo il proprio consumo energetico cercando di porre rimedio allo spreco alimentare."
    en="Donec ac magna non nibh lacinia aliquam. Morbi sit amet tristique libero, ac mollis mi. Nullam erat lacus, pharetra eu fringilla in, consequat nec quam. Etiam ut lacus vel orci posuere vestibulum sit amet varius leo. Sed luctus ornare semper. Cras non ex quis nibh eleifend porta sit amet eget magna. Ut pharetra eleifend turpis, in tincidunt lectus placerat vitae. Mauris hendrerit nunc ex, eget pulvinar arcu consequat a. Etiam at dictum nisi, in luctus purus. Quisque tempus dolor sed neque varius fermentum. Nunc ac dolor nisi. Nulla in eros feugiat, tincidunt lacus ac, finibus elit. Proin dictum ante odio, id volutpat metus congue vel. Nullam quis diam vitae justo luctus interdum at eu tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus."
    />
    <ImgRight
        src="/img/potato/patate-identita-1.webp"
    />
    <ImgLeft
        src="/img/potato/patate-identita-2.webp"
    />
    <ImgRight
        src="/img/potato/patate-identita-3.webp"
    />
    <ImgLeft
        src="/img/potato/patate-identita-4.webp"
    />
    <ImgFull
        src="/img/potato/patate-identita-5.webp"
    />

    <ProjectText
    it="Gli utenti entrano a far parte del mondo HEEP acquistando Qubo, un innovativo generatore di energia elettrica domestico, le cui piccole dimensioni consentono adattabilità e completa personalizzazione, permettendo a ogni utente di produrre autonomamente la corrente necessaria per svolgere alcune attività. Tramite l’inserimento di una patata all’interno di QuboPat, il cuore del generatore, gli altri moduli collegati, selezionati dall’utente, entrano in funzione fino all’esaurimento della carica elettrica del tubero. "
    en="Donec ac magna non nibh lacinia aliquam. Morbi sit amet tristique libero, ac mollis mi. Nullam erat lacus, pharetra eu fringilla in, consequat nec quam. Etiam ut lacus vel orci posuere vestibulum sit amet varius leo. Sed luctus ornare semper. Cras non ex quis nibh eleifend porta sit amet eget magna. Ut pharetra eleifend turpis, in tincidunt lectus placerat vitae. Mauris hendrerit nunc ex, eget pulvinar arcu consequat a. Etiam at dictum nisi, in luctus purus. Quisque tempus dolor sed neque varius fermentum. Nunc ac dolor nisi. Nulla in eros feugiat, tincidunt lacus ac, finibus elit. Proin dictum ante odio, id volutpat metus congue vel. Nullam quis diam vitae justo luctus interdum at eu tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus."
    />
    <ImgRight
        src="/img/potato/patate-macchina-1.webp"
    />
    <ImgLeft
        src="/img/potato/patate-macchina-2.webp"
    />
    <ImgFull
        src="/img/potato/patate-macchina-3.webp"
    />
    
    <VideoLeft
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />
    <VideoRight
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />


    <div class="grid grid-cols-1 sm:grid-cols-12 gap-2 px-2 pb-2 w-full mb-16 sm:mb-32 lg:mb-48 txt-2" data-aos="fade" data-aos-duration="200" data-aos-easing="ease-in-out">
        <div class="max-sm:hidden sm:col-span-3"></div>
        <div class="sm:col-span-9 leading-none">
            <p class="it uppercase">gruppo</p>
            <p class="en uppercase">group</p>
            <p>Filippo Alessandrini</p>
            <p>Simone Amico</p>
            <p>Camilla Criscuoli</p>
            <p>Cecilia Fassina</p>
            <p>Luca Molinari</p>
            <p>Giulia Rubattino</p>
        </div>

    </div>
    






    
    <Footer/>
</Layout>
