---
import Layout from "../layouts/Layout.astro"
import Nav1 from "../layouts/Nav-1.astro"
import ProjectTitle from "../components/Project-Title.astro"
import ImgLeft from "../components/ImgLeft.astro"
import ImgRight from "../components/ImgRight.astro"
import ImgFull from "../components/ImgFull.astro"
import ProjectText from "../components/Project-Text.astro"
import Footer from "../components/Footer.astro";
import VideoLeft from "../components/VideoLeft.astro"
import VideoRight from "../components/VideoRight.astro"
---

<Layout title="RAW SCENARIOS" language='it'>



    <Nav1
        prev="/rawscenarios/Rice"
        next="/rawscenarios/Shrimp"
    />


    

    <ProjectTitle
        img="/rawscenarios/img/potato/heep.svg"
    />
    <ProjectText
        it="Le patate sono uno tra i quattro alimenti più importanti a livello mondiale e da sempre vengono impiegate per far fronte alle carestie. Oggi, grazie alla loro versatilità e facilità di coltivazione, sono prodotte in quantità smodata, tanto che, non essendo possibile consumarle tutte, gli sprechi sono all’ordine del giorno. Al contempo, l’imminente esaurimento dei combustibili fossili, ci obbliga a cercare nuove soluzioni. "
        en="Potatoes are among the four most critical foods worldwide and have always been used to counteract famines. Today, thanks to their versatility and easy cultivation, they are produced in such quantities that it is impossible to consume them all, leading to daily waste. At the same time, the imminent depletion of fossil fuels forces us to seek new solutions."
    >
    <p class="it">patate</p>
    <p class="en">potato</p>
    </ProjectText>

    <ImgRight
        src="/rawscenarios/img/potato/patate-scenario-1.webp"
    />
    <ImgLeft
        src="/rawscenarios/img/potato/patate-scenario-2.webp"
    />
    <ProjectText
    it="Per questo nasce HEEP – Holding per l’Energia Elettrica da Patate – un’azienda impegnata nel settore energetico che si pone l’obiettivo di trasformare la sovrapproduzione e lo spreco alimentare in un’alternativa concreta verso la transizione energetica. L’obiettivo: responsabilizzare ogni utente riguardo il proprio consumo energetico cercando di porre rimedio allo spreco alimentare."
    en="That is the reason why HEEP – Holding for Electric Energy from Potatoes – was born, a company in the energy sector aiming to transform overproduction and food waste into a concrete alternative for the energy transition. Its goal is to make every user responsible for their energy consumption while trying to address food waste."
    />
    <ImgRight
        src="/rawscenarios/img/potato/patate-identita-1.webp"
    />
    <ImgLeft
        src="/rawscenarios/img/potato/patate-identita-2.webp"
    />
    <ImgRight
        src="/rawscenarios/img/potato/patate-identita-3.webp"
    />
    <ImgLeft
        src="/rawscenarios/img/potato/patate-identita-4.webp"
    />
    <ImgFull
        src="/rawscenarios/img/potato/patate-identita-5.webp"
    />

    <ProjectText
    it="Gli utenti entrano a far parte del mondo HEEP acquistando Qubo, un innovativo generatore di energia elettrica domestico, le cui piccole dimensioni consentono adattabilità e completa personalizzazione, permettendo a ogni utente di produrre autonomamente la corrente necessaria per svolgere alcune attività. Tramite l’inserimento di una patata all’interno di QuboPat, il cuore del generatore, gli altri moduli collegati, selezionati dall’utente, entrano in funzione fino all’esaurimento della carica elettrica del tubero."
    en="Users become part of the HEEP world by purchasing Qubo, an innovative domestic electricity generator. Its small size allows for adaptability and complete customisation, enabling users to autonomously produce electricity. By inserting a potato into QuboPat, the heart of the generator, the connected modules of choice start functioning until the tuber’s electric charge is exhausted."
    />
    <ImgRight
        src="/rawscenarios/img/potato/patate-macchina-1.webp"
    />
    <ImgLeft
        src="/rawscenarios/img/potato/patate-macchina-2.webp"
    />
    <ImgFull
        src="/rawscenarios/img/potato/patate-macchina-3.webp"
    />
    
    <VideoLeft
    src="https://www.youtube.com/embed/vnSXcXOihc4?si=S7cMZpmvyjCJ0Rxk"
    />
    <VideoRight
    src="https://www.youtube.com/embed/YMtBwEE30Rs?si=sP7AwZHnhn-G6otl"
    />


    <div class="grid grid-cols-1 sm:grid-cols-12 gap-2 px-2 pb-2 w-full mb-16 sm:mb-32 lg:mb-48 txt-2" data-aos="fade" data-aos-duration="200" data-aos-easing="ease-in-out">
        <div class="max-sm:hidden sm:col-span-3"></div>
        <div class="sm:col-span-9 leading-none">
            <p class="it uppercase">gruppo</p>
            <p class="en uppercase">group</p>
            <p>Filippo Alessandrini</p>
            <p>Simone Amico</p>
            <p>Camilla Criscuoli</p>
            <p>Cecilia Fassina</p>
            <p>Luca Molinari</p>
            <p>Giulia Rubattino</p>
        </div>

    </div>
    






    
    <Footer/>
</Layout>
