---
import Layout from "../layouts/Layout.astro"
import Nav1 from "../layouts/Nav-1.astro"
import ProjectTitle from "../components/Project-Title.astro"
import ImgLeft from "../components/ImgLeft.astro"
import ImgRight from "../components/ImgRight.astro"
import ImgFull from "../components/ImgFull.astro"
import ProjectText from "../components/Project-Text.astro"
import Footer from "../components/Footer.astro";
import VideoLeft from "../components/VideoLeft.astro"
import VideoRight from "../components/VideoRight.astro"
---

<Layout title="RAW SCENARIOS" language='it'>



    <Nav1
        prev="/Shrimp"
        next="/Coffee"
    />


    

    <ProjectTitle
        img="/img/salmon/njord.svg"
    />
    <ProjectText
        it="Spesso gli esseri umani si ritrovano ad essere agenti inconsapevoli della trasformazione del mondo, sottoposti ormai a completa mercificazione e influenzati dai propri desideri di consumatori. Il salmone, come le altre risorse, non può sfuggire a questa logica: il colore delle sue carni viene modificato tramite carotenoidi aggiunti nella sua dieta. In questo modo è possibile ottenere le precise colorazioni richieste dai vari mercati."
        en="Humans are often unwitting agents in transforming the world, now commodified and influenced by our consumers’ desires. As it is for other resources, salmon cannot escape this logic: producers colour their flesh by adding carotenoids to their diet. In this way, they can obtain the precise colouring required by the various markets."
    >
    <p class="it">salmone</p>
    <p class="en">salmon</p>
    </ProjectText>

    <ImgRight
        src="/img/salmon/salmone-scenario-1.webp"
    />
    <ImgLeft
        src="/img/salmon/salmone-scenario-2.webp"
    />
    <ProjectText
    it="NJÖRD, multinazionale leader nel settore ittico, garantisce ai suoi clienti una totale personalizzazione dei suoi prodotti. Grazie ai suoi avanzati laboratori di ricerca, l’azienda norvegese è infatti in grado produrre sofisticati mangimi per esercitare il completo controllo sulla pigmentazione dei suoi prodotti ittici. "
    en="NJÖRD, a leading multinational in the fishing sector, guarantees its customers total customisation of its products. Thanks to its advanced research laboratories, the Norwegian company can produce sophisticated feeds to exercise complete control over the pigmentation of its fish products."
    />
    <ImgRight
        src="/img/salmon/salmone-identita-1.webp"
    />
    <ImgLeft
        src="/img/salmon/salmone-identita-2.webp"
    />
    <ImgFull
        src="/img/salmon/salmone-identita-3.webp"
    />

    <ProjectText
    it="Da oggi, attraverso un apposito device negli store convenzionati, è possibile customizzare e ordinare il proprio salmone del colore e della texture desiderati."
    en="Starting today, through a special device in affiliated stores, it is possible to customise and order salmon in the desired colour and texture."
    />
    <ImgRight
        src="/img/salmon/salmone-macchina-1.webp"
    />
    <ImgLeft
        src="/img/salmon/salmone-macchina-2.webp"
    />
    <ImgFull
        src="/img/salmon/salmone-macchina-3.webp"
    />
    
    <VideoLeft
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />
    <VideoRight
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />



    <div class="grid grid-cols-1 sm:grid-cols-12 gap-2 px-2 pb-2 w-full mb-16 sm:mb-32 lg:mb-48 txt-2" data-aos="fade" data-aos-duration="200" data-aos-easing="ease-in-out">
        <div class="max-sm:hidden sm:col-span-3"></div>
        <div class="sm:col-span-9 leading-none">
            <p class="it uppercase">gruppo</p>
            <p class="en uppercase">group</p>
            <p>Miriam Bissoli</p>
            <p>Andrea Capozza</p>
            <p>Giorgia Casadei</p>
            <p>Giovanni Coroneo</p>
            <p>Lili May Le Bras</p>
            <p>Francesco Lucini</p>
            <p>Lorenzo Ambrogio Sicignano</p>
        </div>

    </div>

    







    
    <Footer/>
</Layout>
