---
import Layout from "../layouts/Layout.astro"
import Nav1 from "../layouts/Nav-1.astro"
import ProjectTitle from "../components/Project-Title.astro"
import ImgLeft from "../components/ImgLeft.astro"
import ImgRight from "../components/ImgRight.astro"
import ImgFull from "../components/ImgFull.astro"
import ProjectText from "../components/Project-Text.astro"
import Footer from "../components/Footer.astro";
import VideoLeft from "../components/VideoLeft.astro"
import VideoRight from "../components/VideoRight.astro"
---

<Layout title="RAW SCENARIOS" language='it'>



    <Nav1
        prev="/Potato"
        next="/Salmon"
    />


    

    <ProjectTitle
        img="/img/shrimp/shrimpaty.svg"
    />

    <ProjectText
        it="La storia dei gamberi è molto più di un racconto di come questi siano diventati uno dei cibi più popolari al mondo. Leggendo tra le righe è possibile notare come questa rifletta usi, costumi, bias che ci appartengono. Proprio oggi che l’attenzione dei media arriva puntuale su qualunque notizia inerente alla sofferenza animale, ecco che i gamberi fanno difficoltà a occupare un posto in prima pagina. Come esseri umani proviamo maggiore empatia nei confronti di animali che percepiamo a noi più vicini ed è ovvio che i gamberi, più simili a insetti che ad animali da compagnia, ricevano ancora meno attenzioni di quelle che diamo a un pesce rosso.  "
        en="The history of shrimps is much more than a tale of how they became one of the world’s most popular foods. Reading between the lines, one can see how it reflects customs, habits, and biases that belong to us. Today, when media attention promptly covers news on animal suffering, shrimp struggle to reach the front page. Humans tend to feel greater empathy towards animals that look more similar to them: it is obvious that shrimps, which resemble insects rather than pets, receive even less attention than goldfishes."
    >
    <p class="it">gamberi</p>
    <p class="en">shrimp</p>
    </ProjectText>

    <ImgRight
        src="/img/shrimp/gamberi-scenario-1.webp"
    />
    <ImgLeft
        src="/img/shrimp/gamberi-scenario-2.webp"
    />
    <ProjectText
    it="Per questo motivo nasce Shrimpathy, un allevamento di gamberi da compagnia che punta a far emergere l’unicità e la rilevanza di ogni singolo animale. Adottare un gambero potrebbe all’apparenza sembrare facile, eppure è un compito che mette a dura prova anche i più dediti, ogni gambero ha una sua personalità, dei pregi e dei difetti proprio come noi esseri umani. Per poterlo fare, Shrimpathy ha ideato un innovativo test attitudinale, alla fine del quale sarà Jacques, un gambero digitale, a valutare il candidato."
    en="For this reason, Shrimpathy, a company breeding pet shrimps, aims to highlight the uniqueness and significance of each animal. Adopting a shrimp may seem easy at first glance, yet it is a task that challenges even the most dedicated, as each shrimp has its personality, strengths, and weaknesses, just like us humans. To achieve this result, Shrimpathy has devised an innovative aptitude test at the end of which Jacques, a digital shrimp, will evaluate the candidate."
    />
    <ImgRight
        src="/img/shrimp/gamberi-identita-1.webp"
    />
    <ImgLeft
        src="/img/shrimp/gamberi-identita-2.webp"
    />
    <ImgRight
        src="/img/shrimp/gamberi-identita-3.webp"
    />
    <ImgFull
        src="/img/shrimp/gamberi-identita-4.webp"
    />

    <ProjectText
    it="Attraverso il Jacquarium, un acquario digitale, l’aspirante shrimp-parent dovrà fornire a Jacques le cure e le attenzioni necessarie per un’intera settimana. Chi deciderà di affrontare questa sfida dovrà dedicare tutte le sue energie a coccolare Jacques, assicurandosi che nuoti sempre in acqua fresca e pulita e che non si senta mai solo. Superata la settimana di prova, se la mascotte sarà soddisfatta, l’utente potrà procedere con l'adozione."
    en="Through the Jacquarium, a digital aquarium, the aspiring shrimp parent must provide Jacques with the necessary care and attention for an entire week. Those who decide to take on this challenge must devote all their energy to pampering Jacques, ensuring he always swims in fresh and clean water and never feels lonely. After the week-long trial, if Jaques is satisfied, the user can proceed with the adoption."
    />
    <ImgRight
        src="/img/shrimp/gamberi-macchina-1.webp"
    />
    <ImgLeft
        src="/img/shrimp/gamberi-macchina-2.webp"
    />
    <ImgRight
        src="/img/shrimp/gamberi-macchina-3.webp"
    />
    <ImgFull
        src="/img/shrimp/gamberi-macchina-4.webp"
    />
    
    <VideoLeft
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />
    <VideoRight
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />



    <div class="grid grid-cols-1 sm:grid-cols-12 gap-2 px-2 pb-2 w-full mb-16 sm:mb-32 lg:mb-48 txt-2" data-aos="fade" data-aos-duration="200" data-aos-easing="ease-in-out">
        <div class="max-sm:hidden sm:col-span-3"></div>
        <div class="sm:col-span-9 leading-none">
            <p class="it uppercase">gruppo</p>
            <p class="en uppercase">group</p>
            <p>Fabio Ammassari</p>
            <p>Alice Conti</p>
            <p>Giulia Giannetti</p>
            <p>Marialisa Giavitto</p>
            <p>Alessandro Noè</p>
            <p>Matilde Senra</p>
        </div>

    </div>



    <Footer/>
</Layout>
