---
import Layout from "../layouts/Layout.astro"
import Nav1 from "../layouts/Nav-1.astro"
import ProjectTitle from "../components/Project-Title.astro"
import ImgLeft from "../components/ImgLeft.astro"
import ImgRight from "../components/ImgRight.astro"
import ImgFull from "../components/ImgFull.astro"
import ProjectText from "../components/Project-Text.astro"
import Footer from "../components/Footer.astro";
import VideoLeft from "../components/VideoLeft.astro"
import VideoRight from "../components/VideoRight.astro"
---

<Layout title="RAW SCENARIOS" language='it'>



    <Nav1
        prev="/Potato"
        next="/Salmon"
    />


    

    <ProjectTitle
        img="/img/shrimp/shrimpaty.svg"
    />

    <ProjectText
        it="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper lorem in tincidunt scelerisque. Nullam malesuada, tortor ut volutpat tempor, turpis turpis tincidunt enim, ac commodo odio ex scelerisque nisi. Morbi sodales felis id erat venenatis, non ornare metus condimentum. Nulla dapibus ipsum non pellentesque suscipit. Mauris neque nulla, auctor vitae eros eget, facilisis bibendum libero. Nullam sed eros ligula. Cras scelerisque iaculis augue, vitae suscipit augue efficitur vel. Integer convallis ligula et turpis maximus, vel fringilla neque euismod. Aenean consequat fringilla est, a ultrices nisl."
        en="Donec ac magna non nibh lacinia aliquam. Morbi sit amet tristique libero, ac mollis mi. Nullam erat lacus, pharetra eu fringilla in, consequat nec quam. Etiam ut lacus vel orci posuere vestibulum sit amet varius leo. Sed luctus ornare semper. Cras non ex quis nibh eleifend porta sit amet eget magna. Ut pharetra eleifend turpis, in tincidunt lectus placerat vitae. Mauris hendrerit nunc ex, eget pulvinar arcu consequat a. Etiam at dictum nisi, in luctus purus. Quisque tempus dolor sed neque varius fermentum. Nunc ac dolor nisi. Nulla in eros feugiat, tincidunt lacus ac, finibus elit. Proin dictum ante odio, id volutpat metus congue vel. Nullam quis diam vitae justo luctus interdum at eu tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus."
    >
    <p class="it">gamberi</p>
    <p class="en">shrimp</p>
    </ProjectText>

    <ImgRight
        src="/img/shrimp/gamberi-scenario-1.webp"
    />
    <ImgLeft
        src="/img/shrimp/gamberi-scenario-2.webp"
    />
    <ProjectText
    it="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper lorem in tincidunt scelerisque. Nullam malesuada, tortor ut volutpat tempor, turpis turpis tincidunt enim, ac commodo odio ex scelerisque nisi. Morbi sodales felis id erat venenatis, non ornare metus condimentum. Nulla dapibus ipsum non pellentesque suscipit. Mauris neque nulla, auctor vitae eros eget, facilisis bibendum libero. Nullam sed eros ligula. Cras scelerisque iaculis augue, vitae suscipit augue efficitur vel. Integer convallis ligula et turpis maximus, vel fringilla neque euismod. Aenean consequat fringilla est, a ultrices nisl."
    en="Donec ac magna non nibh lacinia aliquam. Morbi sit amet tristique libero, ac mollis mi. Nullam erat lacus, pharetra eu fringilla in, consequat nec quam. Etiam ut lacus vel orci posuere vestibulum sit amet varius leo. Sed luctus ornare semper. Cras non ex quis nibh eleifend porta sit amet eget magna. Ut pharetra eleifend turpis, in tincidunt lectus placerat vitae. Mauris hendrerit nunc ex, eget pulvinar arcu consequat a. Etiam at dictum nisi, in luctus purus. Quisque tempus dolor sed neque varius fermentum. Nunc ac dolor nisi. Nulla in eros feugiat, tincidunt lacus ac, finibus elit. Proin dictum ante odio, id volutpat metus congue vel. Nullam quis diam vitae justo luctus interdum at eu tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus."
    />
    <ImgRight
        src="/img/shrimp/gamberi-identita-1.webp"
    />
    <ImgLeft
        src="/img/shrimp/gamberi-identita-2.webp"
    />
    <ImgRight
        src="/img/shrimp/gamberi-identita-3.webp"
    />
    <ImgFull
        src="/img/shrimp/gamberi-identita-4.webp"
    />

    <ProjectText
    it="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper lorem in tincidunt scelerisque. Nullam malesuada, tortor ut volutpat tempor, turpis turpis tincidunt enim, ac commodo odio ex scelerisque nisi. Morbi sodales felis id erat venenatis, non ornare metus condimentum. Nulla dapibus ipsum non pellentesque suscipit. Mauris neque nulla, auctor vitae eros eget, facilisis bibendum libero. Nullam sed eros ligula. Cras scelerisque iaculis augue, vitae suscipit augue efficitur vel. Integer convallis ligula et turpis maximus, vel fringilla neque euismod. Aenean consequat fringilla est, a ultrices nisl."
    en="Donec ac magna non nibh lacinia aliquam. Morbi sit amet tristique libero, ac mollis mi. Nullam erat lacus, pharetra eu fringilla in, consequat nec quam. Etiam ut lacus vel orci posuere vestibulum sit amet varius leo. Sed luctus ornare semper. Cras non ex quis nibh eleifend porta sit amet eget magna. Ut pharetra eleifend turpis, in tincidunt lectus placerat vitae. Mauris hendrerit nunc ex, eget pulvinar arcu consequat a. Etiam at dictum nisi, in luctus purus. Quisque tempus dolor sed neque varius fermentum. Nunc ac dolor nisi. Nulla in eros feugiat, tincidunt lacus ac, finibus elit. Proin dictum ante odio, id volutpat metus congue vel. Nullam quis diam vitae justo luctus interdum at eu tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus."
    />
    <ImgRight
        src="/img/shrimp/gamberi-macchina-1.webp"
    />
    <ImgLeft
        src="/img/shrimp/gamberi-macchina-2.webp"
    />
    <ImgRight
        src="/img/shrimp/gamberi-macchina-3.webp"
    />
    <ImgFull
        src="/img/shrimp/gamberi-macchina-4.webp"
    />
    
    <VideoLeft
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />
    <VideoRight
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />



    <div class="grid grid-cols-1 sm:grid-cols-12 gap-2 px-2 pb-2 w-full mb-16 sm:mb-32 lg:mb-48 txt-2" data-aos="fade" data-aos-duration="200" data-aos-easing="ease-in-out">
        <div class="max-sm:hidden sm:col-span-3"></div>
        <div class="sm:col-span-9">
            <p class="it uppercase">gruppo</p>
            <p class="en uppercase">group</p>
            <p>Fabio Ammassari</p>
            <p>Alice Conti</p>
            <p>Giulia Giannetti</p>
            <p>Marialisa Giavitto</p>
            <p>Alessandro Noè</p>
            <p>Matilde Senra</p>
        </div>

    </div>



    <Footer/>
</Layout>
