---
import Layout from "../layouts/Layout.astro"
import Nav1 from "../layouts/Nav-1.astro"
import ProjectTitle from "../components/Project-Title.astro"
import ImgLeft from "../components/ImgLeft.astro"
import ImgRight from "../components/ImgRight.astro"
import ImgFull from "../components/ImgFull.astro"
import ProjectText from "../components/Project-Text.astro"
import Footer from "../components/Footer.astro";
import VideoLeft from "../components/VideoLeft.astro"
import VideoRight from "../components/VideoRight.astro"
---

<Layout title="RAW SCENARIOS" language='it'>



    <Nav1
        prev="/rawscenarios/Coffee"
        next="/rawscenarios/Sugar"
    />


    

    <ProjectTitle
        img="/rawscenarios/img/soy/humanfeed.svg"
    />
    <ProjectText
        it="La soia è una delle colture più importanti al mondo, anzi fondamentale per quanto riguarda la produzione di mangimi per animali, basti pensare che negli Stati Uniti occupa circa il 33-35% delle terre coltivabili. Eppure per ricavare un solo hamburger servono notevoli quantità di soia: un’equazione, che col crescere della popolazione, sta diventando sempre più insostenibile."
        en="Soy is one of the most important crops in the world, indeed fundamental for animal feed production; just consider that in the United States, it occupies about 33-35% of arable land. Yet, to produce a single hamburger requires significant quantities of soy: an equation that, with the growing population, is becoming increasingly unsustainable."
    >
    <p class="it">Soia</p>
    <p class="en">Soy</p>
    </ProjectText>

    <ImgRight
        src="/rawscenarios/img/soy/soia-scenario-1.webp"
    />
    <ImgLeft
        src="/rawscenarios/img/soy/soia-scenario-2.webp"
    />
    <ProjectText
    it="Per questo nel 2100, a seguito di un decreto del governo americano, gli allevamenti intensivi vengono banditi globalmente a causa del loro forte impatto ambientale. Da questo momento la carne diventa un bene di lusso, accessibile ai pochi. In questo contesto, Agrisoy, un’azienda agricola che produce mangime di soia destinato agli allevamenti intensivi, è costretta a cambiare il suo mercato di sbocco. Nasce così nel 2105 humanfeed&reg;: una catena di fast food che vende il mangime animale direttamente alle persone. "
    en="For this reason, in 2100, following a decree by the American government, intensive farming is globally banned due to its high environmental impact. From this moment, meat becomes a luxury item, accessible to the few. In this context, Agrisoy, an agricultural company producing soy feed for intensive farms, is forced to change its market. Thus, humanfeed&reg; has been founded: a fast-food chain that sells animal feed directly to people."
    />
    <ImgRight
        src="/rawscenarios/img/soy/soia-identita-1.webp"
    />
    <ImgLeft
        src="/rawscenarios/img/soy/soia-identita-2.webp"
    />
    <ImgFull
        src="/rawscenarios/img/soy/soia-identita-3.webp"
    />

    <ProjectText
    it="Per ordinare da humanfeed&reg;, basta scegliere un piatto di carne dal menu, per poi vedere a schermo l’esatto quantitativo di mangime necessario a produrlo; la conversione avviene tramite una precisa equazione che traduce i grammi di carne presenti nel piatto nei grammi di soia che l’animale avrebbe, in proporzione, consumato (distinguendosi tra bovino, suino e pollame). La forza attrattiva di humanfeed&reg; sta proprio nella capacità di offrire un ottimo prodotto come sostituto della carne. Dopotutto perché scegliere una magra porzione di carne quando puoi mangiare chili di soia?"
    en="To order from humanfeed&reg;, a customer should just choose a meat dish from the menu, then the screen displays the exact amount of feed necessary to produce it. The conversion is done via a precise equation that translates the grams of meat on the plate into the grams of soy that the animal would have proportionally consumed (distinguishing between beef, pork, and poultry). The allure of humanfeed&reg; lies precisely in its ability to offer an excellent product as a meat substitute. After all, why choose a meagre portion of meat when you can eat kilos of soy?"
    />
    <ImgRight
        src="/rawscenarios/img/soy/soia-macchina-1.webp"
    />
    <ImgLeft
        src="/rawscenarios/img/soy/soia-macchina-2.webp"
    />
    <ImgFull
        src="/rawscenarios/img/soy/soia-macchina-3.webp"
    />
    
    <VideoLeft
    src="https://www.youtube.com/embed/PXpeT1N18_Y?si=dL_7nhvVgRAy2JWG"
    />
    <VideoRight
    src="https://www.youtube.com/embed/0u3eMcFMtms?si=BJ3E_Hl6p3M0nvHI"
    />



    <div class="grid grid-cols-1 sm:grid-cols-12 gap-2 px-2 pb-2 w-full mb-16 sm:mb-32 lg:mb-48 txt-2" data-aos="fade" data-aos-duration="200" data-aos-easing="ease-in-out">
        <div class="max-sm:hidden sm:col-span-3"></div>
        <div class="sm:col-span-9 leading-none">
            <p class="it uppercase">gruppo</p>
            <p class="en uppercase">group</p>
            <p>Isabella Allodi</p>
            <p>Annachiara Barbanti</p>
            <p>Ludovica Maccioni</p>
            <p>Giulia Petroni</p>
            <p>Cecilia Rusmini</p>
            <p>Davide Turini</p>
        </div>

    </div>

    






    
    <Footer/>
</Layout>
