---
import Layout from '../layouts/Layout.astro';
import ImgLeft from '../components/imgLeft.astro';
import ImgRight from '../components/imgRight.astro';
import ImgFull from '../components/imgFull.astro';
import ProjectDescrizione from '../components/projectDescrizione.astro';
---

<Layout title="Welcome to Astro." language=''>

    <a href="/index" class="text-6xl text-rosso ">Raw Scenarios</a>

    <ProjectDescrizione 
    it="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus neque augue, id feugiat felis commodo eget. Donec dignissim lacus elit, a pretium diam posuere eget. Nam tristique justo nunc, ut bibendum lectus auctor non. Phasellus vel placerat nulla, id fermentum erat. Donec sed convallis nisi. Curabitur vitae nulla vel velit pharetra pretium. Donec quis nunc orci. Duis elementum felis quis urna ultricies tempor. Vivamus in turpis nibh. Sed consequat et ipsum a placerat. Ut non porta eros. Praesent sed imperdiet metus. Proin vel mollis tellus."
    
    
    ></ProjectDescrizione>


    <ImgLeft image="./img/soy/soia-scenario-1.webp"></ImgLeft>
    <ImgRight image="./img/soy/soia-scenario-2.webp"></ImgRight>

    <ProjectDescrizione 
    it="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus neque augue, id feugiat felis commodo eget. Donec dignissim lacus elit, a pretium diam posuere eget. Nam tristique justo nunc, ut bibendum lectus auctor non. Phasellus vel placerat nulla, id fermentum erat. Donec sed convallis nisi. Curabitur vitae nulla vel velit pharetra pretium. Donec quis nunc orci. Duis elementum felis quis urna ultricies tempor. Vivamus in turpis nibh. Sed consequat et ipsum a placerat. Ut non porta eros. Praesent sed imperdiet metus. Proin vel mollis tellus."
    
    
    ></ProjectDescrizione>

    <ImgLeft image="./img/soy/soia-identita-1.webp"></ImgLeft>
    <ImgRight image="./img/soy/soia-identita-2.webp"></ImgRight>
    <ImgFull image="./img/soy/soia-identita-3.webp"></ImgFull>


</Layout>

