---
import Layout from "../layouts/Layout.astro"
import Nav1 from "../layouts/Nav-1.astro"
import ProjectTitle from "../components/Project-Title.astro"
import ImgLeft from "../components/ImgLeft.astro"
import ImgRight from "../components/ImgRight.astro"
import ImgFull from "../components/ImgFull.astro"
import ProjectText from "../components/Project-Text.astro"
import Footer from "../components/Footer.astro";
import VideoLeft from "../components/VideoLeft.astro"
import VideoRight from "../components/VideoRight.astro"
---

<Layout title="RAW SCENARIOS" language='it'>



    <Nav1
        prev="/Soy"
        next="/Tuna"
    />


    

    <ProjectTitle
        img="/img/sugar/sweety.svg"
    />
    <ProjectText
        it="Negli ultimi 30 anni, il consumo giornaliero di zucchero nel mondo è aumentato del 50%, causando obesità e diabete e rappresentando una sfida sempre più significativa per la salute pubblica. Allo stesso tempo lo zucchero è capace di darci conforto nei momenti di stress, grazie al rilascio di dopamina, fornendo un senso di piacere."
        en="In the last 30 years, daily sugar consumption worldwide has increased by 50%, leading to obesity and diabetes and posing an ever-growing challenge to public health. At the same time, sugar can comfort us in moments of stress, thanks to the release of dopamine, providing a sense of pleasure."
    >
    <p class="it">zucchero</p>
    <p class="en">sugar</p>
    </ProjectText>

    <ImgRight
        src="/img/sugar/zucchero-scenario-1.webp"
    />
    <ImgLeft
        src="/img/sugar/zucchero-scenario-2.webp"
    />
    <ProjectText
    it="Per questo, mentre la salute mentale della popolazione continua a peggiorare, l’azienda CORE nasce con la missione di migliorare il benessere delle persone e garantire una felicità duratura grazie a Sweety, un innovativo lollypop che offre la stessa soddisfazione dello zucchero, ma senza i suoi effetti collaterali. "
    en="Therefore, as the mental health of the population continues to deteriorate, CORE undertakes the mission of ensuring lasting happiness through Sweety, an innovative lollipop that offers the same satisfaction as sugar but without its side effects."
    />
    <ImgRight
        src="/img/sugar/zucchero-identita-1.webp"
    />
    <ImgLeft
        src="/img/sugar/zucchero-identita-2.webp"
    />
    <ImgFull
        src="/img/sugar/zucchero-identita-4.webp"
    />

    <ProjectText
    it="Il dispositivo permette di immergersi in un’esperienza sensoriale ed emozionale, alla fine della quale l’utente riceverà un feedback personalizzato a schermo e una lettera di conforto per ricordare il dolce momento trascorso con Sweety."
    en="The device allows users to immerse in a sensory and emotional experience, at the end of which the user will receive personalised feedback on the screen and a letter of comfort to remember the sweet moment spent with Sweety."
    />
    <ImgRight
        src="/img/sugar/zucchero-macchina-1.webp"
    />
    <ImgLeft
        src="/img/sugar/zucchero-macchina-2.webp"
    />
    <ImgRight
        src="/img/sugar/zucchero-macchina-3.webp"
    />
    <ImgFull
        src="/img/sugar/zucchero-macchina-4.webp"
    />
    
    <VideoLeft
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />
    <VideoRight
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />



    <div class="grid grid-cols-1 sm:grid-cols-12 gap-2 px-2 pb-2 w-full mb-16 sm:mb-32 lg:mb-48 txt-2" data-aos="fade" data-aos-duration="200" data-aos-easing="ease-in-out">
        <div class="max-sm:hidden sm:col-span-3"></div>
        <div class="sm:col-span-9 leading-none">
            <p class="it uppercase">gruppo</p>
            <p class="en uppercase">group</p>
            <p>Elisa Corbetta</p>
            <p>Elena Hu</p>
            <p>Arianna Nonis</p>
            <p>Elena Pegoretti</p>
            <p>Matilde Roncarati</p>
            <p>Melina Valdata</p>
        </div>

    </div>

    






    
    <Footer/>
</Layout>
