---
import Layout from "../layouts/Layout.astro"
import Nav1 from "../layouts/Nav-1.astro"
import ProjectTitle from "../components/Project-Title.astro"
import ImgLeft from "../components/ImgLeft.astro"
import ImgRight from "../components/ImgRight.astro"
import ImgFull from "../components/ImgFull.astro"
import ProjectText from "../components/Project-Text.astro"
import Footer from "../components/Footer.astro";
import VideoLeft from "../components/VideoLeft.astro"
import VideoRight from "../components/VideoRight.astro"
---

<Layout title="RAW SCENARIOS" language='it'>



    <Nav1
        prev="/Avocado"
        next="/Corn"
    />


    

    <ProjectTitle
        img="/img/tomato/pdp.svg"
    />
    <ProjectText
        it="Il pomodoro, pilastro della cucina italiana ed emblema della nostra identità gastronomica, da più di quattrocento anni viene utilizzato per insaporire i piatti, di cui tanto ci vantiamo. Eppure, questo frutto dal colore sgargiante nasconde un paradosso ai più non visibile; da un lato, viene celebrato come elemento fondamentale della nostra cucina, dall’altro, chi lavora duramente per coltivarlo viene ignorato e sfruttato. Così il color rosso pomodoro della nostra bandiera italiana si lega al rosso sangue versato dai lavoratori, costretti a sottostare ai vincoli del caporalato."
        en="Tomatoes, a pillar of Italian cuisine and a symbol of our gastronomic identity, have been used to flavour the dishes we proudly boast about for over four hundred years. Yet, this vibrant fruit hides a paradox invisible to most; on the one hand, it is celebrated as a fundamental element of our cuisine, while on the other, those who work hard to cultivate it are ignored and exploited. Thus, the red tomato colour of our Italian flag is linked to the red blood shed by workers forced to comply with the constraints of labour exploitation."
    >
    <p class="it">pomodoro</p>
    <p class="en">tomato</p>
    </ProjectText>

    <ImgRight
        src="/img/tomato/pomodoro-scenario-1.webp"
    />
    <ImgLeft
        src="/img/tomato/pomodoro-scenario-2.webp"
    />
    <ProjectText
    it="Dall’estremizzazione di questo aspetto, nasce il Partito del Pomodoro, il cui obiettivo è difendere le tradizioni italiane tramite la coltivazione di pomodori, riportando l’Italia alla gloria a lei destinata. Non importa quanti lavoratori sono costretti a versare sudore e sangue in nome del simbolo dell’italianità, ciò che conta è farlo arrivare ogni giorno sulle tavole degli italiani. "
    en="Enhancing these extreme contradictions, the Tomato Party has been founded. Its objective is to defend Italian traditions through tomato cultivation, bringing Italy back to its destined glory. It does not matter how many workers are forced to shed sweat and blood in the name of the symbol of Italian identity; what matters is making sure it reaches Italians’ tables every day."
    />
    <ImgRight
        src="/img/tomato/pomodoro-identita-1.webp"
    />
    <ImgLeft
        src="/img/tomato/pomodoro-identita-2.webp"
    />
    <ImgRight
        src="/img/tomato/pomodoro-identita-3.webp"
    />
    <ImgLeft
        src="/img/tomato/pomodoro-identita-4.webp"
    />
    <ImgFull
        src="/img/tomato/pomodoro-identita-5.webp"
    />

    <ProjectText
    it="La R.O.S.S.A, Rigogliosa Opera Sociale per Salvare l’Agricoltura, è un dispositivo ideato per esporre gli obiettivi che raggiungerà il partito durante i cinque anni di mandato. L'utente viene accolto dalla mascotte Pomì, che lo guida in un percorso di esplorazione di dati e politiche specifici per ogni regione. Come step finale, l'utente può (e dovrebbe) tesserarsi, in caso contrario verrà etichettato come &quot;Traditore della patria&quot;."
    en="R.O.S.S.A, Rigorous Social Operation to Save Agriculture, is a device designed to showcase the goals that the party will achieve during its five-year mandate. The user is welcomed by the mascot Pomì, who guides them through a journey of exploring specific data and policies for each region. As the final step, the user can (and should) become a member; otherwise, they will be labelled as a &quot;traitor of the homeland&quot;."
    />
    <ImgRight
        src="/img/tomato/pomodoro-macchina-1.webp"
    />
    <ImgLeft
        src="/img/tomato/pomodoro-macchina-2.webp"
    />
    <ImgFull
        src="/img/tomato/pomodoro-macchina-3.webp"
    />
    
    <VideoLeft
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />
    <VideoRight
    src="https://www.youtube.com/embed/1B28dg3r9N8?si=RM-sspaycPT8cwxU"
    />



    <div class="grid grid-cols-1 sm:grid-cols-12 gap-2 px-2 pb-2 w-full mb-16 sm:mb-32 lg:mb-48 txt-2" data-aos="fade" data-aos-duration="200" data-aos-easing="ease-in-out">
        <div class="max-sm:hidden sm:col-span-3"></div>
        <div class="sm:col-span-9 leading-none">
            <p class="it uppercase">gruppo</p>
            <p class="en uppercase">group</p>
            <p>Caterina di Noia</p>
            <p>Luna Macelloni</p>
            <p>Martina Stucchi</p>
            <p>Mauro Van Reusel</p>
            <p>Giada Vercesi</p>
            <p>Alexandra Zotica</p>
        </div>

    </div>

    
    <Footer/>
</Layout>
