---
import Layout from "../layouts/Layout.astro"
import Nav1 from "../layouts/Nav-1.astro"
import ProjectTitle from "../components/Project-Title.astro"
import ImgLeft from "../components/ImgLeft.astro"
import ImgRight from "../components/ImgRight.astro"
import ImgFull from "../components/ImgFull.astro"
import ProjectText from "../components/Project-Text.astro"
import Footer from "../components/Footer.astro";
import VideoLeft from "../components/VideoLeft.astro"
import VideoRight from "../components/VideoRight.astro"
---

<Layout title="RAW SCENARIOS" language='it'>



    <Nav1
        prev="/Sugar"
        next="/Avocado"
    />


    

    <ProjectTitle
        img="/img/tuna/neptuna.svg"
    />
    <ProjectText
        it="La società contemporanea è sempre più schiava della velocità, costretta a trovare risposte rapide alle proprie necessità, anche alimentari. Sebbene il tonno in scatola rappresenti una soluzione pratica a questi problemi, i ritmi frenetici di produzione e consumo hanno portato a un crescente inquinamento e sfruttamento delle risorse, impattando negativamente sulla qualità del prodotto stesso."
        en="Contemporary society is increasingly enslaved by speed, forced to find quick answers to its needs, including food. Although canned tuna represents a practical solution to these problems, the frenetic pace of production and consumption has led to increasing pollution and resource exploitation, negatively impacting the product’s quality."
    >
    <p class="it">tonno</p>
    <p class="en">tuna</p>
    </ProjectText>

    <ImgRight
        src="/img/tuna/tonno-scenario-1.webp"
    />
    <ImgLeft
        src="/img/tuna/tonno-scenario-2.webp"
    />
    <ProjectText
    it="Adattandosi alle esigenze di una società in accelerazione e ai cambiamenti di un ecosistema marino sempre più inquinato, nel 2050 l’azienda Neptuna lancia una nuova linea di snack a base di tonno. Unico inconveniente: dei prodotti la cui rapida disponibilità è proporzionale al livello di contaminazione presente al suo interno. "
    en="Adapting to the needs of an accelerating society and the changes of an increasingly polluted marine ecosystem, in 2050, the company Neptuna launches a new line of tuna-based snacks. There is only one drawback: the products’ rapid availability is proportional to the level of contamination present within them."
    />
    <ImgRight
        src="/img/tuna/tonno-identita-1.webp"
    />
    <ImgLeft
        src="/img/tuna/tonno-identita-3.webp"
    />
    <ImgRight
        src="/img/tuna/tonno-identita-5.webp"
    />
    <ImgLeft
        src="/img/tuna/tonno-identita-2.webp"
    />
    <ImgRight
        src="/img/tuna/tonno-identita-4.webp"
    />
    <ImgFull
        src="/img/tuna/tonno-identita-6.webp"
    />

    <ProjectText
    it="Per far conoscere a un vasto pubblico i nuovi prodotti Neptuna, l’azienda ha creato le Neptuna Vending Machine, posizionate in diversi luoghi pubblici delle città. Grazie a queste, i nuovi clienti possono ricevere un buono acquisto per lo snack scelto. Durante il processo di selezione, il cliente è costretto a chiudere numerosi messaggi pubblicitari sotto forma di pop-up, che nascondono con una veste positiva le informazioni sulla vera natura tossica degli snack. D’altronde chi perderebbe mai il proprio tempo per leggerle tutte con attenzione?"
    en="To introduce the new Neptuna products to a broad audience, the company has created the Neptuna Vending Machines, located in various public places in cities. Through these, new customers can receive a voucher for the chosen snack. During the selection process, the customer must close numerous pop-up advertisements, which positively disguise information about the actual toxic nature of the snacks. After all, who would ever take the time to read them all carefully?"
    />
    <ImgRight
        src="/img/tuna/tonno-macchina-2.webp"
    />
    <ImgFull
        src="/img/tuna/tonno-macchina-1.webp"
    />
    
    <VideoLeft
    src="https://www.youtube.com/embed/cfreAZTi_iM?si=X3GOdmHDL2caO6_g"
    />
    <VideoRight
    src="https://www.youtube.com/embed/8izuIpPf1k0?si=tlGp-UQoXdqCNwPP"
    />



    <div class="grid grid-cols-1 sm:grid-cols-12 gap-2 px-2 pb-2 w-full mb-16 sm:mb-32 lg:mb-48 txt-2" data-aos="fade" data-aos-duration="200" data-aos-easing="ease-in-out">
        <div class="max-sm:hidden sm:col-span-3"></div>
        <div class="sm:col-span-9 leading-none">
            <p class="it uppercase">gruppo</p>
            <p class="en uppercase">group</p>
            <p>Sara Balestrini</p>
            <p>Edoardo Bignami</p>
            <p>Asia Capezzuoli</p>
            <p>Eva Cupellini</p>
            <p>Simone lasevoli</p>
            <p>Matteo Postinghel</p>
        </div>

    </div>

    






    
    <Footer/>
</Layout>
