---

---

<!-- BARRA -->
<div class="w-full absolute p-2 uppercase text-sm sm:text-lg lg:text-2xl font-semibold z-50 max-sm:pb-12 pointer-events-none">
    <div class="flex justify-between ">
        <p class="en">Final</p>
        <p class="en">Synthesis</p>
        <p class="en">Communication</p>
        <p class="en">Design</p>
        <p class="en">Studio</p>
        <p class="en">C1</p>

        <p class="it">sintesi</p>
        <p class="it">finale</p>
        <p class="it">communication</p>
        <p class="it">design</p>
        <p class="it">studio</p>
        <p class="it">C1</p>
    </div>
    <div class="flex justify-between">
        <p class="en">School</p>
        <p class="en">of</p>
        <p class="en">design</p>
        <p class="en">Politecnico</p>
        <p class="en">di</p>
        <p class="en">Milano</p>

        <p class="it">scuola</p>
        <p class="it">di</p>
        <p class="it">design</p>
        <p class="it">Politecnico</p>
        <p class="it">di</p>
        <p class="it">Milano</p>
    </div>
</div> 