---

interface Props {
  src: string;
}

const { src } = Astro.props;


---


<div class="flex px-2 pb-2 w-full" data-aos="fade" data-aos-duration="300" data-aos-easing="ease-in-out">
  <img src={src} alt={src} class="aspect-video bg-slate-200 w-full">
</div>