---
interface Props {
	image: string;
}

const { image } = Astro.props;
---

<div class="grid grid-cols-4 sm:grid-cols-12 gap-2 w-full px-2 pb-2">
	<div class="max-sm:hidden sm:col-span-3"></div>
	<img src={image} alt={image} class="aspect-video col-span-4 sm:col-span-9">
</div>
