---
---

<div class="text-rosso flex text-6xl sm:text-4xl lg:text-6xl uppercase">
    <h1 class="cursor-pointer" id="it-button">IT</h1>
    <h1>/</h1>
    <h1 class="cursor-pointer" id="en-button">EN</h1>
</div>


<script>
document.addEventListener("DOMContentLoaded", function() {
    const itButton = document.getElementById("it-button");
    const enButton = document.getElementById("en-button");

    itButton.addEventListener("click", function() {
        toggleLanguage('it', 'en');
    });

    enButton.addEventListener("click", function() {
        toggleLanguage('en', 'it');
    });

    function toggleLanguage(showClass, hideClass) {
        const showElements = document.querySelectorAll(`.${showClass}`);
        const hideElements = document.querySelectorAll(`.${hideClass}`);
        
        showElements.forEach(element => {
            element.style.display = 'block';
        });

        hideElements.forEach(element => {
            element.style.display = 'none';
        });

        if (showClass === 'it') {
            itButton.style.opacity = '1';
            enButton.style.opacity = '0.5';
        } else {
            itButton.style.opacity = '0.5';
            enButton.style.opacity = '1';
        }
    }

    toggleLanguage('it', 'en');
});
</script>

<style>
    .content {
        display: none;
    }
    .cursor-pointer {
        cursor: pointer;
    }
</style>
