---

interface Props {
  it: string;
  en: string;
}

const { it,en } = Astro.props;


---


<div class="grid grid-cols-4 sm:grid-cols-12 px-2 pb-2 w-full txt-2 mt-16 sm:mt-32 lg:mt-48" data-aos="fade" data-aos-duration="200" data-aos-easing="ease-in-out">
  <div class="col-span-1 sm:col-span-3"></div>
    <div class="col-span-3 sm:col-span-9 lg:col-span-6">
      <div class="txt-2 uppercase mb-2 md:mb-4">
        <slot/>
      </div>
      <p class="it">{it}</p>
      <p class="en">{en}</p>
    </div>
</div>