---

interface Props {
  src: string;
}

const { src } = Astro.props;


---


<div class="grid grid-cols-1 sm:grid-cols-12 gap-2 px-2 pb-2 w-full" data-aos="fade" data-aos-duration="200" data-aos-easing="ease-in-out">
    <div class="max-sm:hidden sm:col-span-3"></div>
        <div class="sm:col-span-9">
            <div class="relative pt-[56.25%]">
            <iframe class=" absolute top-0 letf-0 w-full h-full" src={src} title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

</div>