---
---

<!-- IMMAGINI SFONDO -->
<style>
    .background-container {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100dvh;
      z-index: -1;
      overflow: hidden;
      pointer-events: none;
      touch-action: none;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; 
    }
    .threshold {
      filter: brightness(110%) contrast(3000%);
      opacity: 20%;
      transition: filter var(--transition-duration, 0.1s) ease-out, transform 0.3s ease-in-out;
      position: absolute;
      top: var(--top);
      left: var(--left);
      right: var(--right);
      bottom: var(--bottom);
      width: var(--width);
      max-width: var(--maxwidth);
      min-width: var(--minwidth);
      height: auto;
      pointer-events: none;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; 
    }
    img, a, h1 {
      position: relative;
      z-index: 1;
    }
  
    @media (min-width: 1024px) {
    .threshold:nth-child(1) { --top: 35vh; --right: 33.5vw; --maxwidth: 11.7vw; --minwidth: 140px; } /* avocado */
    .threshold:nth-child(2) { --top: 8vh; --left: 19vw; --maxwidth: 8.5vw; --minwidth: 110px; } /* caffe */
    .threshold:nth-child(3) { --top: 35vh; --left: 17.5vw; --maxwidth: 29vw; --minwidth: 300px; } /* gambero */
    .threshold:nth-child(4) { --top: 60vh; --right: 6vw; --maxwidth: 10.5vw; --minwidth: 160px; } /* patata */
    .threshold:nth-child(5) { --top: 65vh; --left: 18vw; --maxwidth: 13.7vw; --minwidth: 155px; } /* pomodoro */
    .threshold:nth-child(6) { --top: 70vh; --left: 40vw; --maxwidth: 13.5vw; --minwidth: 100px; } /* riso */
    .threshold:nth-child(7) { --top: 2vh; --right: 0.5vw; --maxwidth: 35vw; --minwidth: 35%; } /* salmone */
    .threshold:nth-child(8) { --top: 62vh; --right: 22vw; --maxwidth: 17vw; --minwidth: 10%; } /* soia */
    .threshold:nth-child(9) { --top: 14vh; --left: 1vw; --maxwidth: 12vw; --minwidth: 60px; } /* tonno */
    .threshold:nth-child(10) { --top: 6vh; --left: 40vw; --maxwidth: 18vw; --minwidth: 100px; } /* zucchero */
    .threshold:nth-child(11) { --top: 32vh; --right: 1vw; --maxwidth: 25vw; --minwidth: 100px; } /* mais */
  }


  @media (max-width: 1023px) {
    .threshold:nth-child(1) { --top: 26vh; --left: 32vw; --maxwidth: 16.5vw; --minwidth: 120px; } /* avocado */
    .threshold:nth-child(2) { --top: 6vh; --left: 19.5vw; --maxwidth: 12vw; --minwidth: 100px; } /* caffe */
    .threshold:nth-child(3) { --bottom: 33vh; --left: 8vw; --maxwidth: 35vw; --minwidth: 210px; } /* gambero */
    .threshold:nth-child(4) { --bottom: 6vh; --right: 9vw; --maxwidth: 17vw; --minwidth: 140px; } /* patata */
    .threshold:nth-child(5) { --bottom: 8vh; --left: 5vw; --maxwidth: 22vw; --minwidth: 160px; } /* pomodoro */
    .threshold:nth-child(6) { --bottom: 12vh; --left: 44vw; --maxwidth: 21vw; --minwidth: 140px; } /* riso */
    .threshold:nth-child(7) { --top: 3vh; --right: 1vw; --maxwidth: 43vw; --minwidth: 300px; } /* salmone */
    .threshold:nth-child(8) { --bottom: 29vh; --right: 8vw; --maxwidth: 25vw; --minwidth: 160px; } /* soia */
    .threshold:nth-child(9) { --top: 18vh; --left: 1vw; --maxwidth: 13.5vw; --minwidth: 100px; } /* tonno */
    .threshold:nth-child(10) { --top: 20vh; --right: 4vw; --maxwidth: 22vw; --minwidth: 200px; } /* zucchero */
    .threshold:nth-child(11) { --top: 42vh; --right: 2vw; --maxwidth: 34vw; --minwidth: 150px; } /* mais */
  }
  </style>
  
  <div class="background-container" data-aos="fade" data-aos-duration="750" data-aos-easing="ease-in-out">
    <img src="/assets/immagini/avocado.png" alt="avocado" class="threshold">
    <img src="/assets/immagini/caffe.png" alt="caffe" class="threshold">
    <img src="/assets/immagini/gambero.png" alt="gambero" class="threshold">
    <img src="/assets/immagini/patata.png" alt="patata" class="threshold">
    <img src="/assets/immagini/pomodoro.png" alt="pomodoro" class="threshold">
    <img src="/assets/immagini/riso.png" alt="riso" class="threshold">
    <img src="/assets/immagini/salmone.png" alt="salmone" class="threshold">
    <img src="/assets/immagini/soia.png" alt="soia" class="threshold">
    <img src="/assets/immagini/tonno.png" alt="tonno" class="threshold">
    <img src="/assets/immagini/zucchero.png" alt="zucchero" class="threshold">
    <img src="/assets/immagini/mais.png" alt="mais" class="threshold">
  </div>
  
  <script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
        const images = document.querySelectorAll('.threshold');

        document.addEventListener('mousemove', (event) => {
            images.forEach((img) => {
            const imgElement = img;
            const rect = imgElement.getBoundingClientRect();
            const imgCenterX = rect.left + rect.width / 2;
            const imgCenterY = rect.top + rect.height / 2;

            const distX = Math.abs(event.clientX - imgCenterX);
            const distY = Math.abs(event.clientY - imgCenterY);
            const maxDist = Math.sqrt(rect.width * rect.width + rect.height * rect.height) / 2;
            const distance = Math.sqrt(distX * distX + distY * distY);

            const threshold = Math.max(0, (1 - distance / maxDist) * 100);

            imgElement.style.setProperty('--threshold', `${threshold}%`);
            const brightness = 110 - (threshold * 0.4); // Decrease brightness from 110% to 70%
            const contrast = 3000 + (threshold * 2); // Increase contrast from 1000% to 1200%
            const opacity = 0.2 + ((threshold / 100) * 0.2); // Calculate opacity from 0.4 to 1

            imgElement.style.filter = `brightness(${brightness}%) contrast(${contrast}%)`;
            imgElement.style.opacity = opacity; // Set opacity based on threshold
            });
        });
    });

  </script>
  