---
interface Props {
  title: string;
  language: string;
}

const { title, language } = Astro.props;
---

<!doctype html>
<html lang={language} class="antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/mqi7xvb.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>

  <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script is:inline>
    AOS.init();
    
  </script>
  <!-- <script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      function setTheme(theme) {
        document.documentElement.setAttribute('data-theme', theme);
      }

      function detectColorScheme() {
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
          setTheme("dark");
        } else {
          setTheme("light");
        }
      }

      function toggleTheme() {
        const currentTheme = document.documentElement.getAttribute('data-theme');
        if (currentTheme === "light") {
          setTheme("dark");
        } else {
          setTheme("light");
        }
      }

      detectColorScheme();

      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
        setTheme(e.matches ? "dark" : "light");
      });
    });

  </script> -->
</html>

<style is:global>
  * {
    letter-spacing: -0.5px;
    @apply text-rosso;
    /* border: 1px solid blue; */

  }


  :root {
    --bg-light: #fff;
    --bg-dark: #0d0d0d;
  }

  :root[data-theme='light'] {
    --bg: var(--bg-light);
  }

  :root[data-theme='dark'] {
    --bg: var(--bg-dark);
  }

  @media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-dark);
  }
}
  /* Style rules for light mode */
  @media (prefers-color-scheme: light) {
    body {
      background-color: var(--bg-light);
    }
  }

  div p{
    @apply leading-none;
  }


  @font-face {
    font-family: 'neue-haas-grotesk-text', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .title-1{
    @apply text-3xl sm:text-6xl font-medium
  }

  .txt{
    @apply leading-none text-sm sm:text-xl lg:text-2xl  font-semibold
  }


  .txt-2{
    @apply  text-sm sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-semibold
  }

</style>

