---
interface Props {
  title: string;
  language: string;
}

const { title, language } = Astro.props;
---

<!doctype html>
<html lang={language} class="antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/mqi7xvb.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>

  <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script is:inline>
    AOS.init();
  </script>
</html>

<style is:global>
  * {
    letter-spacing: -0.5px;
  }

  @font-face {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
</style>

<script is:inline>

  document.querySelector('.cookie-close').addEventListener('click', function() {
    document.querySelector('.cookie').classList.add('hidden');
  });

</script>