---
interface Props {
  title: string;
  language: string;
}

const { title, language } = Astro.props;
---

<!doctype html>
<html lang={language} class="antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/mqi7xvb.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>

  <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script is:inline>
    AOS.init();
  </script>
</html>

<style is:global>
  * {
    letter-spacing: -0.5px;
    @apply text-rosso;
    /* border: 1px solid blue; */
  }

  @font-face {
    font-family: 'neue-haas-grotesk-text', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .title-1{
    @apply leading-snug text-3xl sm:text-6xl font-medium
  }

  .txt{
    @apply text-base sm:text-2xl leading-snug font-semibold
  }

  .txt-2{
    @apply text-sm sm:text-lg md:text-xl lg:text-2xl xl:text-3xl leading-snug font-semibold
  }

</style>

<script is:inline>


</script>